@import "./mixin.scss";

.main {
    &Title {
        width: 100%;

        background: url(../images/about/backTitleAbout.png) no-repeat;
        background-position: center;
        background-size: cover;

        &Wrapper {
            @include displayFlex(flex-start, center, column);
            gap: 68px;

            padding: 197px 0px 0px 0px;

            @media (max-width: 1100px) {
                gap: 10px;

                padding: 105px 0px 0 0px;
            }
        }

        &Info {
            color: var(--Color__White);

            letter-spacing: 0.055em;

            @include displayFlex(flex-start, center, column);
            gap: 68px;

            @media (max-width: 1100px) {
                gap: 30px;
            }

            &--title {
                max-width: 1146px;

                @include font(
                    var(--SizeText__OtherPageMailBlockTitle),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__OtherPageMailBlockTitle)
                );

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__TitleMainScreenModile);
                    line-height: var(--LineHeight__TitleMainScreenModile);
                }
            }

            &--text {
                max-width: 728px;

                letter-spacing: -0.03em;

                @include font(
                    var(--SizeText__MainText),
                    400,
                    "Montserrat",
                    var(--LineHeight__MainText)
                );

                @media (max-width: 1100px) {
                    max-width: 555px;

                    font-size: var(--SizeText__MainTextModile);
                    line-height: var(--LineHeight__MainTextModile);
                }
            }
        }
    }

    .numbersBlock {
        width: 100%;

        &Item {
            &--Title {
                color: var(--Color__Decor);
            }

            &--Content {
                color: var(--Color__White);
            }

            &--HR {
                background-color: #dadada;
            }
        }
    }

    .italy {
        width: 100%;

        &Wrapper {
            padding: 122px 0px 74px 0px;

            @media (max-width: 1100px) {
                padding-top: 80px;
            }
        }

        &Main {
            @include displayFlex(flex-start, center, column);
            gap: 70px;

            @media (max-width: 1100px) {
            }
        }

        &Info {
            width: 100%;

            &Wrapper {
                @include displayFlex(flex-start, center, column);
                gap: 70px;

                @media (max-width: 1100px) {
                    gap: 25px;
                }
            }
        }

        &Title {
            width: 100%;

            @include displayFlex(flex-end, flex-start, row);
            gap: 83px;

            @media (max-width: 1150px) {
                gap: 40px;

                align-items: flex-end;
            }

            &--title {
                max-width: 874px;

                @include font(
                    var(--SizeText__TitleSection),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleSection)
                );

                text-transform: uppercase;
                letter-spacing: 0.07em;

                @media (max-width: 1100px) {
                    max-width: 407px;
                    width: 100%;

                    @include font(
                        var(--SizeText__TitleSectionModile),
                        400,
                        "RasfirePersonal",
                        var(--LineHeight__TitleSectionModile)
                    );
                }
            }

            &--hr {
                width: 274px;
                height: 2px;

                background-color: var(--Color__LineBeige);

                margin-bottom: 40px;

                @media (max-width: 1100px) {
                    max-width: 125px;
                    width: 100%;
                    
                    margin-bottom: 13px;
                }

                @media (max-width: 610px) {
                    display: none;
                }
            }
        }

        &Text {
            width: 100%;
            @include displayFlex(center flex-start, row);

            &--text {
                max-width: 900px;
                width: 100%;

                @include font(
                    var(--SizeText__SliderTitle),
                    400,
                    "Montserrat",
                    var(--LineHeight__SliderTitle)
                );

                letter-spacing: 0.07em;

                @media (max-width: 1100px) {
                    max-width: 600px;

                    @include font(17px, 400, "Montserrat", 26px);
                }
            }
        }

        &List {
            @include displayFlex(flex-start, space-between);
            gap: 25px;

            width: 100%;

            @media (max-width: 1100px) {
                @include displayFlex(center, center, column);
            }

            &s {
                max-width: 701px;
                width: 100%;

                @media (max-width: 1100px) {
                    gap: 30px;
                    max-width: none;
                }
            }

            &Wrapper {
                margin-left: 31px;

                @media (max-width: 1100px) {
                    margin-left: 40px;
                }
            }

            &Content {
                @include displayFlex(flex-start, flex-start, column);
                gap: 28px;
                max-width: 641px;

                @media (max-width: 1100px) {
                    gap: 11px;
                }
            }

            &Img {
                max-width: 696px;
                max-height: 575px;

                width: 100%;
                height: 100%;

                &--img {
                    max-width: 696px;
                    max-height: 575px;

                    width: 100%;
                    height: 100%;
                }

                @media (max-width: 768px) {
                    min-width: 336px;
                }

                @media (max-width: 321px) {
                    min-width: 300px;
                }
            }
        }

        &Item {
            &Content {
                position: relative;

                &::before {
                    content: "";

                    width: 33px;
                    height: 33px;

                    background-image: url(../images/about/okay.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    @include font(24px, 400, "Montserrat", 29px);

                    position: absolute;
                    top: 15%;
                    left: -49px;
                    transform: translateY(-50%);

                    @media (max-width: 1100px) {
                        font-size: 17px;
                        line-height: 21px;

                        width: 20px;
                        height: 20px;

                        left: -35px;
                    }
                }

                &--text {
                    @include font(18px, 400, "Montserrat", 22px);

                    @media (max-width: 1100px) {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }
    }

    .designer {
        width: 100%;

        &Wrapper {
            padding: 139px 0px 167px;
        }

        &Info {
            background: var(--Color__White);
            box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.1);
            padding: 110px 338px;
            @include displayFlex(center, center, column);
            gap: 36px;
            @media (max-width: 768px) {
                padding: 110px 20px;
            }
        }

        &Title {
            @include displayFlex(center, center, column);
            gap: 32px;
            max-width: 737px;
        }

        &--title {
            @include font(
                var(--SizeText__SubTitleSection),
                400,
                "RasfirePersonal",
                var(--LineHeight__SubTitleSection)
            );
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.07em;
            color: var(--Color__Black);

            span {
                color: var(--Color__LineBeige);
            }
        }

        &--text {
            @include font(
                var(--SizeText__MainText),
                400,
                "Montserrat",
                var(--LineHeight__ExamplesWorkItemSubText)
            );
            color: #3e3e3e;
            text-align: center;
            max-width: 737px;
        }

        &Number {
            @include displayFlex(center, space-around);
            width: 100%;
            &s {
                @include displayFlex(center, center);
                gap: 15px;

                &--text {
                    @include font(
                        var(--SizeText__MainText),
                        700,
                        "Montserrat",
                        var(--LineHeight__Telephone)
                    );

                    @media (max-width: 426px) {
                        @include font(
                            15px,
                            700,
                            "Montserrat",
                            var(--LineHeight__TelephoneModile)
                        );
                    }
                }

                @media (max-width: 426px) {
                    gap: 0px;
                }
            }
        }

        &--button {
            @include displayFlex(center, center);
            gap: 20px;
            border-radius: 48px;
            max-width: 386px;
            color: var(--Color__White);
            background-color: var(--Color__Active);

            &:hover {
                box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.25);
            }

            @media (max-width: 426px) {
                max-width: 272px;
            }
        }
    }

    .inviteDesigner {
        height: 854px;

        @media (max-width: 1100px) {
            height: auto;
        }

        &Wrapper {
            max-height: none;

            &::before {
                height: 854px;

                background-image: url(../images/about/inviteDesignerBD.png);
                background-position: center top;
                background-size: cover;

                @media (max-width: 1100px) {
                    background-image: none;
                    height: 1px;
                }
            }

            &::after {
                display: none;

                @media (max-width: 1100px) {
                    display: block;
                }
            }
        }
    }
}
