@import "./mixin.scss";

.buttonContent {
    padding: 19px 64px 15px;

    border-radius: 48px;
    border: 1px solid var(--Color__Active);

    color: var(--Color__Active);
    @include font(
        var(--SizeText__TextButton),
        400,
        "RasfirePersonal",
        var(--LineHeight__TextButton)
    );

    letter-spacing: 0.05em;
    background: transparent;

    transition: all linear 0.2s;

    white-space: nowrap;

    @include displayFlex(center, center);
    gap: 26px;

    & span {
        @include displayFlex(center, center, column);
    }

    &:hover {
        background-color: var(--Color__Active);
        color: var(--Color__White);

        & svg {
            & path,
            & line {
                stroke: var(--Color__White);
            }
        }
    }

    @media (max-width: 1100px) {
        padding: 10px 35px;

        font-size: 14px;
        line-height: 21px;

        & svg {
            width: 23px;

            & path,
            & line {
                stroke: var(--Color__White);
            }
        }
    }
}

.logo {
    max-width: 310px;
    max-height: 66px;

    width: 100%;
    height: 100%;

    cursor: pointer;

    @media (max-width: 1100px) {
        height: 30px;
        width: auto;
    }

    & img {
        width: 100%;
        height: 100%;
    }
}

.buttonArrow {
    padding: 26px 17px 25px;
}

.nav {
    width: 100%;

    @media (max-width: 1100px) {
        display: none;
    }

    .menuDesktop {
        @include displayFlex(center, space-between);
        gap: 15px;

        &Item {
            &--Title {
                display: flex;

                @include font(
                    var(--SizeText__HeaderText),
                    400,
                    "Gabriola",
                    var(--LineHeight__HeaderText)
                );
                color: var(--Color__Black);

                letter-spacing: 0.055em;
                cursor: pointer;

                white-space: nowrap;

                &:hover {
                    color: var(--Color__Decor);
                }
            }
        }
    }

    .dropList:hover {
        & .navServices {
            display: flex;
        }
    }

    .dropListBefor {
        position: relative;

        &::before {
            content: "";
            width: 10px;
            height: 7px;

            background-image: url(../images/decor/arrowBottom.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            color: var(--Color__Decor);

            position: absolute;
            top: 50%;
            right: -11px;

            transform: translateY(-50%);
        }
    }

    &Services {
        position: absolute;
        top: 217px;
        left: 0;

        padding: 60px 56px 56px;
        background-color: var(--Color__White);

        @include displayFlex(flex-start, space-between);
        gap: 74px;

        z-index: 999;

        display: none;

        &Block {
            @include displayFlex(flex-start, center, column);
            gap: 29px;
        }

        &--Title {
            @include font(
                var(--SizeText__SubMainText),
                600,
                "Montserrat",
                var(--LineHeight__SubMainText)
            );
            color: var(--Color__Black);
        }

        &--hr {
            width: 50px;
            border-bottom: 2px solid var(--Color__Decor);
        }

        &List {
            @include displayFlex(flex-start, center, column);
            gap: 23px;
        }

        &Item {
            display: flex;

            &--Title {
                @include font(
                    var(--SizeText__ThinTextContent),
                    400,
                    "Montserrat",
                    var(--LineHeight__ThinTextContent)
                );

                &:hover {
                    color: var(--Color__Decor);
                }
            }
        }
    }

    &Modile {
        @include displayFlex(flex-start, center, column);
        display: none;

        width: 100%;

        position: absolute;
        top: 82px;
        left: 0;
        background-color: var(--Color__White);

        text-align: left;

        z-index: 9999;

        &Item {
            width: 100%;

            &[open] {
                .navModileItem--Header {
                    background-color: var(--Color__Decor);
                    
                    &::before {
                        background-image: url(../images/decor/plusEmpty.svg);   
                    }

                    &__Title {
                        color: var(--Color__White);
                    }
                }
            }

            &--Header {
                width: 100%;
                padding: 10px 40px 10px 20px;
                cursor: pointer;

                text-align: left;

                position: relative;

                &::before {
                    content: "";

                    width: 13px;
                    height: 13px;

                    transition: all linear 0.2s;

                    background-image: url(../images/decor/plus.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }

                &::marker {
                    display: none;
                }

                &__Title {
                    max-width: calc(100% - 40px);
                    width: 100%;

                    color: var(--Color__Black);

                    @include font(16px, 600, "Montserrat", 20px);
                }
            }

            &--Body{
                padding: 20px 50px 40px 20px;
            }

            &--List {
                @include displayFlex(flex-start, flex-start, column);
                gap: 23px;
            }

            &--Item {
                &Content {
                    @include font(15px, 400, "Montserrat", 18px);

                    color: var(--Color__TextMenu);

                    &:hover {
                        color: var(--Color__Decor);
                    }
                }
            }
        }
    }
}

.numbers {
    &List {
        @include displayFlex(flex-start, center, column);
        gap: 17px;

        max-width: 260px;
        width: 100%;

        @media (max-width: 1100px) {
            display: none;
            gap: 0;
        }

        &Modile {
            position: absolute;
            top: 82px;
            left: 0;

            background-color: var(--Color__White);

            max-width: 245px;

            gap: 16px;

            &--Img {
                width: 10px;
                height: 7px;

                background-image: url(../images/decor/arrowBottomTelephone.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                color: var(--Color__Black);
            }
        }
    }

    &Item {
        @include displayFlex(center, space-between);
        gap: 14px;

        &--Img {
            max-width: 30px;
            max-height: 30px;

            min-width: 24px;
            min-height: 24px;

            width: 100%;
            height: 100%;
        }

        &--Tel {
            font-weight: 600;

            color: var(--Color__Black);

            @media (max-width: 1100px) {
                @include font(
                    var(--SizeText__TelephoneModile),
                    700,
                    "Montserrat",
                    var(--LineHeight__TelephoneModile)
                );
            }
        }

        &Modile {
            width: 100%;
            justify-content: flex-start;
            padding: 10px 20px;

            &:hover {
                background-color: var(--Color__Decor);

                & .numbersItem--Tel {
                    color: var(--Color__White);
                }
            }
        }
    }

    &Modile {
        @include displayFlex(center, center);
        gap: 8px;

        display: none;

        z-index: 9999;

        @media (max-width: 1100px) {
            display: flex;
        }

        & svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            & .numbersListModile {
                display: flex;
            }

            & .numbersListModile--Img {
                rotate: 180deg;
            }
        }
    }
}

.feedBack {
    background-color: var(--Color__DarkGreen);

    max-width: 846px;
    width: 100%;

    @media (max-width: 1100px) {
        max-width: 500px;
    }

    &Wrapper {
        padding: 96px 56px;

        @include displayFlex(flex-start, flex-start, column);
        gap: 45px;

        position: relative;

        @media (max-width: 1100px) {
            gap: 30px;
            padding: 60px 20px 72px;
            align-items: center;
        }

        &::before {
            content: "";

            width: 26px;
            height: 26px;

            position: absolute;
            top: 74px;
            right: 30px;

            background-image: url(../images/decor/onlineCircleGreen.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media (max-width: 1100px) {
                top: 20px;
                right: 20px;
            }
        }
    }

    &--Title {
        @include font(
            var(--SizeText__FeedBackBlock),
            400,
            "RasfirePersonal",
            var(--LineHeight__FeedBackBlock)
        );
        letter-spacing: 0.07em;

        width: 100%;

        color: var(--Color__White);
        text-align: left;

        @media (max-width: 1100px) {
            @include font(
                var(--SizeText__FeedBackBlockModile),
                400,
                "RasfirePersonal",
                var(--LineHeight__FeedBackBlockModile)
            );
        }
    }

    &--subTitle {
        letter-spacing: -0.03em;
        color: #e3e3e3;

        @media (max-width: 1100px) {
            @include font(
                var(--SizeText__FeedBackBlockSubTitleModile),
                400,
                "Montserrat",
                var(--LineHeight__FeedBackBlockSubTitleModile)
            );
        }
    }

    &List {
        @include displayFlex(flex-start, space-around);
        gap: 84px;

        @media (max-width: 1100px) {
            gap: 50px;
        }
    }

    &Item {
        background-color: rgba(255, 255, 255, 0.32);

        height: 132px;
        width: 177px;

        transition: all linear 0.2s;

        @media (max-width: 1100px) {
            width: 60px;
            height: 54px;
        }

        @include displayFlex(center, center);

        &:hover {
            transform: translateY(-20px);
        }

        &--Link {
            padding: 17px 40px;

            width: 100%;
            height: 100%;

            cursor: pointer;

            @media (max-width: 1100px) {
                padding: 4px 7px;
            }
        }

        &--Img {
            max-width: 98px;
            max-height: 98px;

            width: 100%;
            height: 100%;
        }
    }
}

.examplesWork {
    width: 100%;
    background-color: var(--Color__BGQuestionBlock);

    &Wrapper {
        @include displayFlex(center, center, column);
        gap: 228px;

        padding-bottom: 55px;

        @media (max-width: 1100px) {
            gap: 30px;
        }
    }

    &--Title {
        @include font(
            var(--SizeText__TitleSection),
            400,
            "RasfirePersonal",
            var(--LineHeight__TitleSection)
        );
        color: var(--Color__White);

        letter-spacing: 0.07em;

        text-align: center;
        width: 100%;

        @media (max-width: 1100px) {
            font-size: var(--SizeText__FeedBackBlockModile);
            line-height: 30px;
        }
    }

    &Slider {
        @include displayFlex(center, center, column);
        gap: 263px;

        z-index: 999;

        @media (max-width: 1100px) {
            gap: 181px;
        }
    }

    &List {
        @include displayFlex(flex-start, space-between);
        gap: 133px;

        width: 100%;

        @media (max-width: 1100px) {
            gap: 190px;
            flex-wrap: wrap;
        }
    }

    &Item {
        position: relative;

        &::before {
            content: "";

            display: none;

            width: 302px;
            height: 302px;

            background-color: var(--Color__Decor);

            border-radius: 50%;

            position: absolute;
            top: -71px;
            right: -77px;

            @media (max-width: 1100px) {
                width: 97px;
                height: 97px;

                top: -43px;
                right: -38px;

                display: none;
            }
        }

        &--Box {
            @include displayFlex(flex-start, flex-start, column);

            max-width: 639px;
            width: 100%;

            background: rgba(22, 22, 22, 0.42);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
            backdrop-filter: blur(2px);

            padding: 20px 34px;

            border-left: 2px solid var(--Color__Decor);

            @media (max-width: 1100px) {
                border: none;
                padding: 20px;
            }
        }

        &--ImageBlock {
            @include displayFlex(flex-start, flex-start, column);
            gap: 30px;

            @media (max-width: 1100px) {
                gap: 20px;
            }

            &Content {
                width: 100%;

                text-align: left;

                @include font(
                    var(--SizeText__ExamplesWorkItemPseudoElement),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__ExamplesWorkItemPseudoElement)
                );

                color: var(--Color__White);

                letter-spacing: 0.05em;

                @media (max-width: 1100px) {
                    font-size: 15px;
                    line-height: 22px;
                }

                &.right {
                    text-align: right;
                }
            }

            &__img {
                max-width: 541px;
                width: 100%;
                height: 100%;

                &Wrapper {
                    max-width: 541px;
                    width: 100%;
                }
            }
        }

        &--Content {
            position: absolute;
            bottom: -147px;
            left: 34px;

            max-width: 381px;
            width: 100%;

            padding: 42px 37px 19px;

            background-color: var(--Color__White);
            box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.27);

            @include displayFlex(flex-end, center, column);
            gap: 45px;

            @media (max-width: 1100px) {
                padding: 25px 20px;

                bottom: -110px;
                left: 50%;
                transform: translateX(-50%);

                gap: 15px;
            }

            &Title {
                letter-spacing: -0.03em;
                color: var(--Color__Black);

                width: 100%;
                text-align: left;

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__MainTextModile);
                    line-height: var(--LineHeight__MainTextModile);
                }
            }

            &Link {
                @include font(
                    var(--SizeText__ExamplesWorkItemPseudoElement),
                    400,
                    "Montserrat",
                    var(--LineHeight__ExamplesWorkItemPseudoElement)
                );
                letter-spacing: -0.03em;

                color: var(--Color__ActiveHoverText);

                @include displayFlex(flex-start, flex-start);
                gap: 22px;

                & span {
                    max-width: 31px;
                    max-height: 6px;

                    width: 100%;
                    height: 100%;
                }

                @media (max-width: 1100px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }
}

.numbersBlock {
    &Wrapper {
        width: 100%;

        padding: 98px 0;

        @media (max-width: 1100px) {
            padding: 60px 0;
        }
    }

    &List {
        @include displayFlex(center, space-between);
        gap: 15px;

        @media (max-width: 1100px) {
            flex-direction: column;
            gap: 19px;
        }
    }

    &Item {
        @include displayFlex(center, center, column);
        gap: 38px;

        color: var(--Color__Black);

        @media (max-width: 1100px) {
            gap: 10px;
        }

        &--Title {
            @include font(
                var(--SizeText__NumbersTitle),
                700,
                "Raleway",
                var(--LineHeight__NumbersTitle)
            );

            @media (max-width: 1100px) {
                font-size: var(--SizeText__NumbersTitleModile);
                line-height: var(--LineHeight__NumbersTitleModile);
            }
        }

        &--Content {
            @include font(
                var(--SizeText__NumbersContent),
                400,
                "Montserrat",
                var(--LineHeight__NumbersContent)
            );

            letter-spacing: -0.03em;

            @media (max-width: 1100px) {
                font-size: var(--SizeText__NumbersContentModile);
                line-height: var(--LineHeight__NumbersContentModile);
            }
        }

        &--HR {
            width: 1px;
            height: 319px;

            background-color: #dadada;

            @media (max-width: 1100px) {
                width: 100%;
                height: 1px;
            }
        }
    }
}

.reviews {
    background-color: #1d2b38;

    &Wrapper {
        @include displayFlex(flex-start, center, column);
        gap: 100px;

        padding: 134px 0 39px;

        position: relative;

        &::before {
            content: "";

            width: 132px;
            height: 302px;

            background-image: url(../images/decor/circleReview.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;

            top: 181px;
            right: 0;

            z-index: 0;
        }

        @media (max-width: 1100px) {
            gap: 30px;
            padding-top: 50px;
            padding-bottom: 60px;

            &::before {
                background-image: url(../images/decor/circleReviewMobile.svg);
                width: 71px;
                height: 107px;

                top: 80px;
            }
        }
    }

    &--Title {
        @include font(
            var(--SizeText__TitleSection),
            400,
            "RasfirePersonal",
            var(--LineHeight__TitleSection)
        );

        letter-spacing: 0.07em;
        text-transform: uppercase;

        color: var(--Color__White);

        z-index: 999;

        position: relative;

        &::before {
            content: "";

            min-width: 210px;

            width: 85%;
            height: 0.3px;

            background-color: var(--Color__Decor);

            position: absolute;
            top: 24px;
            right: 0;

            z-index: -1;

            @media (max-width: 1100px) {
                top: 12px;
                width: 90%;
            }

            @media (max-width: 7500px) {
                width: 85%;
            }

            @media (max-width: 500px) {
                width: 79%;
            }

            @media (max-width: 400px) {
                width: 69%;
            }
        }

        &Wrapper {
            width: 100%;
        }

        @media (max-width: 1100px) {
            font-size: var(--SizeText__TitleSectionModile);
            line-height: var(--LineHeight__TitleSectionModiles);
        }
    }

    &Slider {
        width: 100%;

        z-index: 999;

        &Wrapper {
            width: 100%;
        }
    }

    &List {
        width: 100%;

        @include displayFlex(flex-start, flex-start);
        flex-wrap: wrap;
        gap: 20px;

        &::before {
            content: "";

            width: 302px;
            height: 302px;

            background-color: var(--Color__Decor);

            border-radius: 50%;

            position: absolute;

            bottom: 20px;
            left: 0;

            z-index: 0;

            @media (max-width: 1100px) {
                display: none;
            }
        }

        @media (max-width: 1100px) {
            gap: 0;
        }
    }

    &Item {
        max-width: 555px;
        width: 100%;

        padding: 40px 40px 51px;

        background-color: rgba(22, 22, 22, 0.42);
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(2px);

        @include displayFlex(flex-start, center, column);
        gap: 50px;

        &:nth-child(2n) {
            margin-top: 70px;

            @media (max-width: 1100px) {
                margin: 0;
            }
        }

        @media (max-width: 1100px) {
            padding: 40px 0 0;
            gap: 30px;
        }

        &--Img {
            max-width: 474px;
            max-height: 333px;

            width: 100%;
            height: 100%;

            @media (max-width: 1100px) {
                max-width: none;
                max-height: none;
            }
        }

        &--Content {
            @include displayFlex(flex-start, center, column);
            gap: 86px;
            padding: 0;

            @media (max-width: 1100px) {
                gap: 30px;
                padding: 0 20px 30px;
            }

            &Title {
                @include displayFlex(flex-start, center, column);
                gap: 30px;
            }
        }

        &--Title {
            width: 100%;
            text-align: left;

            @include font(
                var(--SizeText__SliderTitle),
                400,
                "RasfirePersonal",
                var(--LineHeight__SliderTitle)
            );

            letter-spacing: 0.07em;

            color: var(--Color__White);

            @media (max-width: 1100px) {
                font-size: var(--SizeText__SliderTitleModile);
                line-height: var(--LineHeight__SliderTitleModile);
            }
        }

        &--SubTitle {
            width: 100%;
            text-align: left;
            letter-spacing: -0.03em;

            color: #c8c8c8;

            @media (max-width: 1100px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &--Description {
            @include displayFlex(center, space-between);
            gap: 30px;

            width: 100%;
        }

        &--Rating {
            @include displayFlex(center, center);
            gap: 19px;

            @media (max-width: 1100px) {
                gap: 14px;
            }

            &Star {
                @include displayFlex(flex-start, flex-start);
                gap: 3.75px;

                @media (max-width: 1100px) {
                    gap: 3px;
                }

                & span {
                    max-width: 29px;
                    max-height: 28px;

                    width: 100%;
                    height: 100%;

                    & svg {
                        max-width: 29px;
                        max-height: 28px;

                        width: 100%;
                        height: 100%;
                    }

                    @media (max-width: 1100px) {
                        max-width: 18px;
                        max-height: 18px;

                        display: contents;

                        & svg {
                            max-width: 18px;
                            max-height: 18px;
                        }
                    }
                }
            }

            &Info {
                @include font(
                    var(--SizeText__ThinTextContent),
                    400,
                    "Montserrat",
                    22px
                );

                letter-spacing: -0.03em;

                color: #9f9f9f;
                white-space: nowrap;

                @media (max-width: 1100px) {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }

        &--ReadMore {
            @include font(
                var(--SizeText__SubMainText),
                400,
                "Montserrat",
                27px
            );

            letter-spacing: -0.03em;

            color: var(--Color__Decor);
            white-space: nowrap;

            @media (max-width: 1100px) {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}

.questions {
    width: 100%;

    &Wrapper {
        width: 100%;

        padding: 172px 0 33px;

        position: relative;

        @include displayFlex(center, flex-start, column);
        gap: 90px;

        &::before {
            content: "";

            width: 100%;
            height: 1px;

            background-color: var(--Color__Decor);

            position: absolute;
            top: 57px;
            left: 0;

            @media (max-width: 1100px) {
                display: none;
            }
        }

        &::after {
            content: "";

            width: 1px;
            height: 100%;

            background-color: var(--Color__Decor);

            position: absolute;
            top: 0;
            right: 267px;

            @media (max-width: 1100px) {
                display: none;
            }
        }

        &--Title,
        &--List {
            width: 100%;

            z-index: 999;
        }

        @media (max-width: 1100px) {
            padding: 60px 0;
            gap: 30px;
        }
    }

    &--Title {
        width: 100%;

        @include font(
            var(--SizeText__TitleSection),
            400,
            "RasfirePersonal",
            var(--LineHeight__TitleSection)
        );

        text-align: left;

        letter-spacing: 0.07em;
        text-transform: uppercase;

        color: var(--Color__Black);

        @media (max-width: 1100px) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &List {
        max-width: 1126px;
        width: 100%;

        margin: 0 auto;

        @include displayFlex(center, flex-start, column);
        gap: 20px;

        @media (max-width: 1100px) {
            gap: 10px;
        }
    }

    &Item {
        width: 100%;

        background-color: var(--Color__BGQuestionBlock);

        &[open] {
            .questionsItem--Header::before {
                background-image: url(../images/decor/plusQuestionsOpen.svg);
            }
        }

        &--Header {
            width: 100%;
            padding: 34.5px 67px;

            cursor: pointer;

            text-align: left;

            position: relative;

            @media (max-width: 1100px) {
                padding: 21px 12px;
            }

            &::before {
                content: "";

                width: 27px;
                height: 27px;

                transition: all linear 0.2s;

                background-image: url(../images/decor/plusQuestions.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                position: absolute;
                top: 50%;
                right: 67px;
                transform: translateY(-50%);

                @media (max-width: 1100px) {
                    width: 17px;
                    height: 17px;

                    right: 12px;
                }
            }

            &::marker {
                display: none;
            }

            &__Title {
                max-width: 920px;
                width: 100%;

                color: var(--Color__White);

                @include font(22px, 400, "Montserrat", 27px);

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__ThinTextContent);
                    line-height: var(--LineHeight__ThinTextContent);
                }
            }
        }

        &--Body {
            background-color: var(--Color__White);

            padding: 46px 170px 46px 25px;

            @include font(20px, 400, "Montserrat", 24px);
            color: var(--Color__Black);

            @media (max-width: 1100px) {
                padding: 0;
                padding-top: 20px;

                font-size: var(--SizeText__ThinTextContent);
                line-height: var(--LineHeight__ThinTextContent);
            }
        }
    }
}

.inviteDesigner {
    &Wrapper {
        padding: 139px 143px 167px;
        max-height: 819px;

        background-color: var(--Color__White);

        position: relative;

        @include displayFlex(center, center, column);

        @media (max-width: 1100px) {
            padding: 17px 0 70px;
        }

        &::before {
            content: "";

            background-image: url(../images/decor/inviteDesigner/inviteDesignerDecorImgLeft.png);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            @media (max-width: 1100px) {
                background: none;

                width: calc(100% - 20px);
                height: 1px;

                background-color: var(--Color__Decor);
                top: auto;
                bottom: 40px;
            }
        }

        &::after {
            content: "";

            width: 1px;
            height: 100%;

            background-color: var(--Color__Decor);

            position: absolute;
            top: 0;
            right: 267px;

            @media (max-width: 1100px) {
                right: 35px;
                height: calc(100% - 10px);
            }
        }
    }

    &--Block {
        background-color: var(--Color__White);
        box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.1);

        width: 100%;
        height: 100%;

        padding: 110px 0;

        z-index: 999;

        &Wrapper {
            @include displayFlex(center, flex-start, column);
            gap: 32px;

            max-width: 750px;
            width: 100%;

            margin: 0 auto;

            @media (max-width: 1100px) {
                gap: 20px;
            }
        }

        @media (max-width: 1100px) {
            padding: 40px 20px;
        }
    }

    &--Title {
        width: 100%;
        text-align: center;

        @include font(
            var(--SizeText__SubTitleSection),
            400,
            "RasfirePersonal",
            var(--LineHeight__SubTitleSection)
        );

        letter-spacing: 0.07em;
        text-transform: uppercase;

        color: var(--Color__Black);

        & span {
            color: var(--Color__Decor);
        }

        @media (max-width: 1100px) {
            font-size: var(--SizeText__SubTitleSectionModile);
            line-height: var(--LineHeight__TitleSectionModile);
        }
    }

    &--Text {
        font-size: 22px;
        line-height: 27px;

        width: 100%;

        text-align: center;

        color: #3e3e3e;

        @media (max-width: 1100px) {
            margin-top: 20px;

            font-size: 15px;
            line-height: 18px;
        }
    }

    &--NumberList {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: none;

        @media (max-width: 1100px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &--Button {
        background-color: var(--Color__Active);
        color: var(--Color__White);

        & svg {
            & path,
            & line {
                stroke: var(--Color__White);
            }
        }

        &:hover {
            background: var(--Color__Active);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.servicesNav {
    background-color: var(--Color__DarkDecorCircle);

    &Wrapper {
        width: 100%;
        position: relative;

        padding: 92px 0 230px;

        @media (max-width: 1100px) {
            padding: 0;
        }
    }

    &--Services {
        position: unset;
        display: flex;
        background-color: var(--Color__DarkDecorCircle);
        padding: 0;

        @media (max-width: 1100px) {
            display: none;
        }

        .navServices--Title {
            color: var(--Color__White);
        }

        .navServicesItem--Title {
            color: var(--Color__SubMainText);

            transition: all linear 0.2s;

            &:hover {
                color: var(--Color__Decor);
            }
        }
    }

    &--Modile {
        &List {
            @include displayFlex(flex-start, flex-start, column);

            width: 100%;

            padding: 20px 0;

            background-color: var(--Color__DarkDecorCircle);

            display: none;
            @media (max-width: 1100px) {
                display: block;
            }
        }

        &Item {
            width: 100%;

            &[open] {
                .servicesNav--ModileItem__Header::before {
                    background-image: url(../images/servicesNavModileDecor/servicesNavModileDecor__Close.svg);
                }
            }

            &__Header {
                width: 100%;
                padding: 10px 0;

                cursor: pointer;

                text-align: left;

                position: relative;

                &::before {
                    content: "";

                    width: 12px;
                    height: 6px;

                    transition: all linear 0.2s;

                    background-image: url(../images/servicesNavModileDecor/servicesNavModileDecor__Open.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateY(-50%);
                }

                &::marker {
                    display: none;
                }

                &Title {
                    max-width: calc(100% - 60px);
                    width: 100%;

                    color: var(--Color__White);

                    @include font(16px, 400, "Montserrat", 20px);
                }
            }

            &__Body {
                &List {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 20px;
                }

                &Item {
                    &__Link {
                        @include font(15px, 400, "Montserrat", 18px);

                        color: #bcbcbc;

                        &:hover {
                            color: var(--Color__Decor);
                        }
                    }
                }
            }
        }
    }
}
