@import "./mixin.scss";

.main {
    &Block {
        padding-top: 210px;

        margin-bottom: 73px;

        @media (max-width: 1100px) {
            padding-top: 30px;
            margin-bottom: 60px;
        }

        &Wrapper {
            @include displayFlex(center, space-between);

            position: relative;

            width: 100%;
        }

        &Content {
            width: 100%;

            &Wrapper {
                @include displayFlex(flex-start, center, column);
                gap: 60px;

                color: var(--Color__Black);

                @media (max-width: 1100px) {
                    gap: 30px;
                }
            }

            &--Title {
                @include font(
                    var(--SizeText__TitleMainScreen),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleMainScreen)
                );

                max-width: 920px;
                width: 100%;

                letter-spacing: 0.055em;

                @media (max-width: 1100px) {
                    @include font(
                        var(--SizeText__TitleMainScreenModile),
                        400,
                        "RasfirePersonal",
                        var(--LineHeight__TitleMainScreenModile)
                    );
                }

                &Hr {
                    &Top {
                        position: absolute;

                        // width: 100px;
                        // border-bottom: 0.3px solid #000000;
                    }

                    &Bottom {
                        position: absolute;

                        // width: 100px;
                        // border-bottom: 0.3px solid #000000;
                    }
                }
            }

            &--List {
                @include displayFlex(flex-start, center, column);
                gap: 14px;

                max-width: 920px;

                margin-left: 20px;

                list-style: disc;
            }

            &--Item {
                color: var(--Color__Decor);

                &Text {
                    color: var(--Color__Black);
                    letter-spacing: -0.03em;

                    @media (max-width: 1100px) {
                        @include font(
                            var(--SizeText__MainTextModile),
                            400,
                            "Montserrat",
                            var(--LineHeight__MainTextModile)
                        );
                    }
                }
            }
        }

        &Image {
            position: absolute;
            bottom: -35px;
            right: 0;

            max-width: 641px;
            min-width: 280px;

            max-height: 587px;
            min-height: 306px;

            width: 100%;
            height: 100%;

            float: right;

            @media (max-width: 1420px) {
                max-width: 541px;
            }

            @media (max-width: 1330px) {
                max-width: 350px;
                max-height: 330px;
                top: 60px;
            }

            @media (max-width: 1175px) {
                max-width: 300px;
            }

            @media (max-width: 1100px) {
                display: none;
            }

            &--img {
                position: relative;

                width: 100%;
                height: 100%;

                background-image: url(../images/sofas/sofasMainPage__MainBlock.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: 1100px) {
                    background-position: left;
                }

                &::before {
                    content: "";

                    background: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 0.79) 0%,
                            #ffffff 100%
                        ),
                        url(../images/sofas/sofasMainPage__MainBlockBefore.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    max-width: 697px;
                    min-width: 280px;

                    max-height: 618px;
                    min-height: 77px;

                    width: 100%;
                    height: 100%;

                    position: absolute;
                    bottom: -580px;
                    left: 0;

                    @media (max-width: 1420px) {
                        max-height: 496px;
                        bottom: -449px;
                    }

                    @media (max-width: 1330px) {
                        bottom: -314px;
                        max-height: 320px;
                    }

                    @media (max-width: 1175px) {
                        bottom: -244px;
                        max-height: 273px;
                    }

                    @media (max-width: 1100px) {
                        background-position: left;
                        bottom: -303px;

                        z-index: -1;
                    }

                    @media (max-width: 400px) {
                        bottom: -265px;
                    }
                }
            }

            &Modile {
                display: none;

                max-width: 641px;
                min-width: 290px;

                max-height: 587px;
                min-height: 306px;

                width: 100%;
                height: 100%;

                @media (max-width: 1100px) {
                    display: grid;
                }

                @media (max-width: 400px) {
                    width: 290px;
                }
            }
        }
    }

    &FeedBack {
        &Wrapper {
            @include displayFlex(flex-start, flex-start);
            gap: 42px;

            position: relative;

            width: 100%;

            & .feedBack {
                margin-top: 66px;

                @media (max-width: 1100px) {
                    margin: 0;
                }
            }
        }

        &Anchor {
            position: relative;

            width: 144px;
            height: 728px;

            border-right: 1px solid var(--Color__Decor);

            @media (max-width: 1100px) {
                display: none;
            }

            &::before {
                content: "";

                position: absolute;
                top: 28px;
                left: 0;

                width: 1003px;
                height: 1px;

                background: linear-gradient(
                    90deg,
                    #b38d68 0%,
                    rgba(179, 141, 104, 0) 100%
                );
            }

            &::after {
                content: "";

                position: absolute;
                bottom: 223px;
                left: 0;

                width: 143px;
                height: 1px;

                background: linear-gradient(
                    90deg,
                    #b38d68 0%,
                    rgba(179, 141, 104, 0) 100%
                );
            }

            &--Content {
                letter-spacing: -0.03em;
                color: var(--Color__Black);

                position: absolute;
                top: 32%;
                /* left: 50%; */

                transform: translateY(-85%);
                rotate: -90deg;

                white-space: nowrap;

                &::before {
                    content: "";

                    width: 54px;
                    height: 2px;
                    background-color: #2c5a54;

                    position: absolute;
                    bottom: 16px;
                    left: -75px;
                }
            }
        }
    }

    .infoBlock {
        background-color: var(--Color__BGQuestionBlock);

        &Wrapper {
            @include displayFlex(flex-start, center, column);
            gap: 80px;

            padding-top: 134px;
            padding-bottom: 50px;

            position: relative;

            @media (max-width: 1100px) {
                gap: 45px;
                padding: 60px 0;
            }

            &::before {
                content: "";

                max-width: 487px;
                max-height: 1084px;

                width: 100%;
                height: 100%;

                position: absolute;
                top: 87px;
                right: 0;

                background-image: url(../images/decor/advantegesBeforeImg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: 1100px) {
                    display: none;
                }
            }

            &::after {
                content: "";

                max-width: 1206.5px;
                max-height: 833.68px;

                width: 100%;
                height: 100%;

                position: absolute;
                top: 945px;
                left: 0;

                background-image: url(../images/decor/advantegesAfterImg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: 1100px) {
                    display: none;
                }
            }
        }

        &Content {
            width: 100%;

            &Wrapper {
                @include displayFlex(flex-start, space-between);
                gap: 39px;

                width: 100%;

                @media (max-width: 1100px) {
                    flex-direction: column;
                    gap: 30px;
                }
            }

            &--Title {
                @include font(
                    var(--SizeText__TitleSection),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleSection)
                );

                letter-spacing: 0.07em;

                color: var(--Color__White);

                max-width: 657px;
                width: 100%;

                position: relative;

                @media (max-width: 1100px) {
                    @include font(
                        var(--SizeText__TitleSectionModile),
                        400,
                        "RasfirePersonal",
                        var(--LineHeight__TitleSectionModile)
                    );

                    width: 101%;
                }

                @media (max-width: 600px) {
                    max-width: 450px;
                }

                &::before {
                    content: "";

                    width: 100px;
                    height: 2px;

                    background-color: var(--Color__Decor);

                    position: absolute;
                    top: 13px;
                    right: -140px;

                    @media (max-width: 1100px) {
                        width: 71px;
                        bottom: 17px;
                        top: auto;
                        right: -8px;
                    }
                }
            }

            &--SubTitle {
                letter-spacing: -0.03em;

                color: #d9d9d9;

                max-width: 717px;
                width: 100%;

                margin-top: 50px;

                @media (max-width: 1100px) {
                    margin: 0;
                    font-size: 17px;
                    line-height: 26px;
                }
            }
        }

        &--BlockBoldTitle {
            width: 100%;

            position: relative;

            &.right1 {
                &.infoBlock--BlockBoldTitle::before {
                    content: "";
                    top: 153px;

                    @media (max-width: 1100px) {
                        top: 0;
                    }
                }
            }

            &::before {
                content: "";

                max-width: 1700px;
                width: 100%;

                height: 0.3px;

                background-color: var(--Color__Decor);

                position: absolute;
                top: 172.2px;
                left: 0;

                z-index: 10;

                @media (max-width: 1100px) {
                    top: 0;
                }
            }

            &__Wrapper {
                & .right {
                    color: rgba(255, 255, 255, 0.68);
                    -webkit-text-stroke: 0;

                    width: 100%;
                    text-align: right;
                }
            }

            &__Title {
                @include font(
                    var(--SizeText__TitleBoldText),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleBoldText)
                );
                letter-spacing: 0.05em;

                color: transparent;
                -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);

                z-index: 20;

                @media (max-width: 1100px) {
                    display: none;
                }
            }
        }
    }

    .numbersBlock {
        &Wrapper {
            width: 100%;

            padding: 98px 0;

            @media (max-width: 1100px) {
                padding: 60px 0;
            }
        }

        &List {
            @include displayFlex(center, space-between);
            gap: 15px;

            @media (max-width: 1100px) {
                flex-direction: column;
                gap: 19px;
            }
        }

        &Item {
            @include displayFlex(center, center, column);
            gap: 38px;

            color: var(--Color__Black);

            @media (max-width: 1100px) {
                gap: 10px;
            }

            &--Title {
                @include font(
                    var(--SizeText__NumbersTitle),
                    700,
                    "Raleway",
                    var(--LineHeight__NumbersTitle)
                );

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__NumbersTitleModile);
                    line-height: var(--LineHeight__NumbersTitleModile);
                }
            }

            &--Content {
                @include font(
                    var(--SizeText__NumbersContent),
                    400,
                    "Montserrat",
                    var(--LineHeight__NumbersContent)
                );

                letter-spacing: -0.03em;

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__NumbersContentModile);
                    line-height: var(--LineHeight__NumbersContentModile);
                }
            }

            &--HR {
                width: 1px;
                height: 319px;

                background-color: #dadada;

                @media (max-width: 1100px) {
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }

    .infoMaterials {
        background-image: url(../images/feedBackMaterials/feedBackMaterialsBD.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;

        &Wrapper {
            width: 100%;

            padding: 71px 0;

            @media (max-width: 1100px) {
                padding: 40px 0;
            }
        }

        &Block {
            background: url(../images/feedBackMaterials/feedBackMaterialsWrapperBD.png)
                rgba(0, 0, 0, 0.6);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            backdrop-filter: blur(3.5px);

            padding: 100px 231px 146px;

            max-width: 1414px;
            margin: 0 auto;

            @include displayFlex(center, center, column);
            gap: 70px;

            @media (max-width: 1100px) {
                padding: 46px 20px;
                gap: 20px;
            }
        }

        &--Title {
            @include font(
                var(--SizeText__TitleSection),
                400,
                "RasfirePersonal",
                var(--LineHeight__TitleSection)
            );

            letter-spacing: 0.07em;
            text-transform: uppercase;

            color: var(--Color__White);

            width: 100%;
            text-align: center;

            @media (max-width: 1100px) {
                font-size: var(--SizeText__TitleSectionModile);
                line-height: var(--LineHeight__TitleSectionModile);
            }
        }

        &--HR {
            width: 321px;
            height: 2px;
            background-color: var(--Color__Decor);

            @media (max-width: 1100px) {
                width: 148px;
            }
        }

        &--Content {
            letter-spacing: -0.03em;
            color: var(--Color__White);
            text-align: center;

            @media (max-width: 1100px) {
                font-size: var(--SizeText__MainTextModile);
                line-height: var(--LineHeight__MainTextModile);
            }
        }

        &--Button {
            border-color: var(--Color__White);
            color: var(--Color__White);

            &:hover {
                background-color: var(--Color__White);
                color: var(--Color__Black);
            }

            @media (max-width: 1100px) {
                padding: 9.5px 29px;
            }
        }
    }

    .advantages {
        background-color: #1d2b38;

        @media (max-width: 1100px) {
            padding: 0;
        }

        &Wrapper {
            @include displayFlex(flex-start, flex-start, column);
            gap: 97px;

            padding-top: 100px;

            position: relative;

            &::before {
                content: "";

                width: 132px;
                height: 302px;

                background-image: url(../images/decor/circleReview.svg);
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;

                position: absolute;
                bottom: 52px;
                right: 0;

                z-index: 0;

                @media (max-width: 1100px) {
                    width: 78px;
                    height: 149px;

                    bottom: 0;
                }
            }

            @media (max-width: 1100px) {
                gap: 30px;
                padding: 0;
            }
        }

        &--Title {
            max-width: 800px;
            width: 100%;

            @include font(
                var(--SizeText__TitleSection),
                400,
                "RasfirePersonal",
                var(--LineHeight__TitleSection)
            );

            letter-spacing: 0.07em;
            text-transform: uppercase;

            color: var(--Color__White);

            position: relative;

            &::before {
                content: "";

                width: 274px;
                height: 2px;

                background-color: var(--Color__Decor);

                position: absolute;

                bottom: 33px;
                right: 0;
            }

            @media (max-width: 1100px) {
                max-width: 500px;
                font-size: var(--SizeText__TitleSectionModile);
                line-height: var(--LineHeight__TitleSectionModile);

                & span {
                    display: none;
                }

                &::before {
                    width: 94px;
                    bottom: 15px;
                }
            }

            &Wrapper {
                width: 100%;

                position: relative;

                margin-bottom: 140px;

                &::before {
                    content: "";

                    max-width: 804px;
                    width: 100%;
                    height: 670px;

                    background-image: url(../images/decor/advantagesBDLeft.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    position: absolute;
                    top: -79px;
                    left: 0;

                    z-index: 0;
                }

                &::after {
                    content: "";

                    max-width: 804px;
                    width: 100%;
                    height: 100%;

                    background-image: url(../images/decor/advantagesBDRight.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    position: absolute;
                    top: -132px;
                    right: 0;

                    z-index: 0;
                }

                @media (max-width: 1100px) {
                    margin: 0;

                    &::after,
                    &::before {
                        display: none;
                    }
                }
            }

            &Inner {
                width: 100%;

                @include displayFlex(flex-start, space-between);
                gap: 10px;

                @media (max-width: 1100px) {
                    flex-direction: column;
                    gap: 30px;
                }
            }

            &List {
                @include displayFlex(flex-start, flex-start, column);
                gap: 24px;

                margin-top: 77px;

                z-index: 555;

                @media (max-width: 1100px) {
                    gap: 22px;
                    margin: 0;
                }
            }

            &Item {
                transition: all linear 0.4s;

                color: var(--Color__White);

                &:hover {
                    color: var(--Color__Decor);
                    transform: translateX(-25px);
                }

                &__Title {
                    line-height: 27px;

                    @media (max-width: 1100px) {
                        font-size: 17px;
                        line-height: 21px;
                    }
                }
            }
        }

        &--HR {
            width: 100%;
            height: 1px;

            background-color: var(--Color__Decor);

            z-index: 555;
        }

        &--Content {
            &Wrapper {
                width: 100%;
            }

            &Inner {
                @include displayFlex(flex-start, space-between);
                gap: 20px;

                @media (max-width: 1100px) {
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }

        &--Left {
            &Wrapper {
                @include displayFlex(flex-start, flex-start, column);
                gap: 81px;

                max-width: 707px;
                width: 100%;

                @media (max-width: 1100px) {
                    gap: 30px;
                }
            }

            &__Title {
                @include font(24px, 400, "Montserrat", 29px);

                color: var(--Color__White);

                margin-left: 20px;

                @media (max-width: 1100px) {
                    font-size: 17px;
                    line-height: 21px;

                    margin: 0;
                }
            }

            &List {
                &s {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 77px;

                    margin-left: 31px;

                    @media (max-width: 1100px) {
                        gap: 30px;

                        margin-left: 40px;
                    }
                }

                &Number {
                    counter-reset: LeftListNumber;

                    @include displayFlex(flex-start, flex-start, column);
                    gap: 27px;

                    @media (max-width: 1100px) {
                        gap: 11px;
                    }
                }

                &Content {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 28px;

                    @media (max-width: 1100px) {
                        gap: 11px;
                    }
                }
            }

            &Item {
                &Number {
                    color: var(--Color__SubMainText);

                    position: relative;

                    &::before {
                        counter-increment: LeftListNumber;
                        content: counters(LeftListNumber, "") ".";

                        @include font(24px, 400, "Montserrat", 29px);
                        color: var(--Color__White);

                        position: absolute;
                        top: 0;
                        left: -35px;

                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 21px;
                        }
                    }

                    &__Title {
                        @include font(18px, 400, "Montserrat", 22px);

                        @media (max-width: 1100px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }

                &Content {
                    color: var(--Color__SubMainText);

                    position: relative;

                    &::before {
                        content: "";

                        width: 33px;
                        height: 33px;

                        background-image: url(../images/decor/checkMark__marker.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;

                        @include font(24px, 400, "Montserrat", 29px);
                        color: var(--Color__White);

                        position: absolute;
                        top: -5px;
                        left: -49px;

                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 21px;

                            width: 20px;
                            height: 20px;

                            left: -35px;
                        }
                    }

                    &__Title {
                        @include font(18px, 400, "Montserrat", 22px);

                        @media (max-width: 1100px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }

        &--Right {
            background-color: rgba(22, 22, 22, 0.32);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
            backdrop-filter: blur(2px);

            height: 1103px;

            @media (max-width: 1100px) {
                width: 100%;
                height: auto;
            }

            &Wrapper {
                max-width: 830px;
                width: 100%;

                padding: 161px 73px 52px 103px;

                z-index: 555;

                @include displayFlex(flex-start, flex-start, column);
                gap: 70px;

                @media (max-width: 1100px) {
                    padding: 40px 20px 30px;
                    gap: 30px;
                }
            }

            &__Title {
                @include font(
                    var(--SizeText__SubTitleSection),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__SubTitleSection)
                );

                letter-spacing: 0.07em;
                text-transform: uppercase;

                color: var(--Color__White);

                & span {
                    font-family: "Montserrat";
                }

                @media (max-width: 1100px) {
                    font-size: 22px;
                    line-height: 27px;
                }
            }

            &__Text {
                @include font(
                    var(--SizeText__SubMainText),
                    400,
                    "Montserrat",
                    26px
                );
                color: var(--Color__SubMainText);

                @media (max-width: 1100px) {
                    font-size: 16px;
                    line-height: 23px;
                }
            }
        }
    }
}
