@import "./mixin.scss";

.main {
    &Block {
        padding-top: 210px;

        margin-bottom: 73px;

        position: relative;

        &HR {
            &Left {
                &Before {
                    width: 32px;
                    height: 0.3px;

                    background-color: var(--Color__Black);

                    position: absolute;
                    left: 0;
                    top: 250px;

                    z-index: 0;

                    @media (max-height: 768px) and (min-width: 1100px) {
                        top: 104.9px;
                    }

                    @media (max-width: 1100px) {
                        top: 76.9px;
                    }

                    @media (max-width: 1100px) and (min-height: 768px) {
                        top: 40.9px;
                    }
                }

                &After {
                    width: 31px;
                    height: 0.3px;

                    background-color: var(--Color__Black);

                    position: absolute;
                    left: 0;
                    top: 499px;

                    z-index: 0;

                    @media (max-height: 768px) and (min-width: 1100px) {
                        top: 353px;
                    }

                    @media (max-width: 1100px) {
                        top: 153.9px;
                    }

                    @media (max-width: 1100px) and (min-height: 768px) {
                        top: 118.9px;
                    }
                }
            }

            &Right {
                &Before {
                    width: 32px;
                    height: 0.3px;

                    background-color: var(--Color__Black);

                    position: absolute;
                    right: 0;
                    top: 273px;

                    z-index: 0;

                    @media (max-height: 768px) and (min-width: 1100px) {
                        top: 127px;
                    }

                    @media (max-width: 1100px) {
                        top: 84px;
                    }

                    @media (max-width: 1100px) and (min-height: 768px) {
                        top: 49px;
                    }
                }

                &After {
                    width: 32px;
                    height: 0.3px;

                    background-color: var(--Color__Black);

                    position: absolute;
                    right: 0;
                    top: 505px;

                    z-index: 0;

                    @media (max-height: 768px) and (min-width: 1100px) {
                        top: 360px;
                    }

                    @media (max-width: 1100px) {
                        top: 156px;
                    }

                    @media (max-width: 1100px) and (min-height: 768px) {
                        top: 120px;
                    }
                }
            }
        }

        @media (max-width: 1100px) {
            padding-top: 30px;
            margin-bottom: 60px;
        }

        @media (max-height: 768px) {
            padding-top: 65px;
        }

        &Wrapper {
            @include displayFlex(center, space-between);

            position: relative;

            width: 100%;
        }

        &Content {
            width: 100%;

            &Wrapper {
                @include displayFlex(flex-start, center, column);
                gap: 60px;

                color: var(--Color__Black);

                @media (max-width: 1100px) {
                    gap: 30px;
                }
            }

            &--Title {
                @include font(
                    var(--SizeText__TitleMainScreen),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleMainScreen)
                );

                max-width: 920px;
                width: 100%;

                letter-spacing: 0.055em;

                @media (max-width: 1100px) {
                    max-width: 279px;

                    @include font(
                        var(--SizeText__TitleMainScreenModile),
                        400,
                        "RasfirePersonal",
                        var(--LineHeight__TitleMainScreenModile)
                    );
                }
            }

            &--List {
                @include displayFlex(flex-start, center, column);
                gap: 14px;

                max-width: 920px;

                margin-left: 20px;

                list-style: disc;
            }

            &--Item {
                color: var(--Color__Decor);

                &Text {
                    color: var(--Color__Black);
                    letter-spacing: -0.03em;

                    @media (max-width: 1100px) {
                        @include font(
                            var(--SizeText__MainTextModile),
                            400,
                            "Montserrat",
                            var(--LineHeight__MainTextModile)
                        );
                    }
                }
            }
        }

        &Image {
            position: absolute;
            bottom: -35px;
            right: 0;

            max-width: 641px;
            min-width: 280px;

            max-height: 587px;
            min-height: 306px;

            width: 100%;
            height: 100%;

            float: right;

            @media (max-width: 1420px) {
                max-width: 541px;
            }

            @media (max-width: 1330px) {
                max-width: 350px;
                max-height: 330px;
                top: 130px;
            }

            @media (min-height: 768px) and (max-width: 1330px) {
                top: 250px;
            }

            @media (max-width: 1175px) {
                max-width: 300px;
            }

            @media (max-width: 1100px) {
                display: none;
            }

            &--img {
                position: relative;

                width: 100%;
                height: 100%;

                background-image: url(../images/sofas/sofasMainPage__MainBlock.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: 1100px) {
                    background-position: right;

                    position: absolute;

                    right: 0;

                    width: 290px;
                    height: 306px;
                }

                &::before {
                    content: "";

                    background: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 0.79) 0%,
                            #ffffff 100%
                        ),
                        url(../images/sofas/sofasMainPage__MainBlockBefore.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    max-width: 697px;
                    min-width: 280px;

                    max-height: 618px;
                    min-height: 77px;

                    width: 100%;
                    height: 100%;

                    position: absolute;
                    bottom: -580px;
                    left: 0;

                    @media (max-width: 1420px) {
                        max-height: 496px;
                        bottom: -449px;
                    }

                    @media (max-width: 1330px) {
                        bottom: -314px;
                        max-height: 320px;
                    }

                    @media (max-width: 1175px) {
                        bottom: -244px;
                        max-height: 273px;
                    }

                    @media (max-width: 1100px) {
                        background-position: left;
                        bottom: -264px;
                        max-height: 306px;

                        z-index: -1;
                    }

                    @media (max-width: 400px) {
                        bottom: -265px;
                    }
                }
            }

            &Modile {
                display: none;

                max-width: 641px;
                min-width: 290px;

                max-height: 587px;
                min-height: 306px;

                width: 100%;
                height: 100%;

                @media (max-width: 1100px) {
                    display: grid;
                }

                @media (max-width: 400px) {
                    width: 290px;
                }
            }
        }
    }

    &FeedBack {
        &Wrapper {
            @include displayFlex(flex-start, flex-start);
            gap: 42px;

            position: relative;

            width: 100%;

            & .feedBack {
                margin-top: 66px;

                @media (max-width: 1100px) {
                    margin: 0;
                }
            }
        }

        &Anchor {
            position: relative;

            width: 144px;
            height: 728px;

            border-right: 1px solid var(--Color__Decor);

            @media (max-width: 1100px) {
                display: none;
            }

            &::before {
                content: "";

                position: absolute;
                top: 28px;
                left: 0;

                width: 1003px;
                height: 1px;

                background: linear-gradient(
                    90deg,
                    #b38d68 0%,
                    rgba(179, 141, 104, 0) 100%
                );
            }

            &::after {
                content: "";

                position: absolute;
                bottom: 223px;
                left: 0;

                width: 143px;
                height: 1px;

                background: linear-gradient(
                    90deg,
                    #b38d68 0%,
                    rgba(179, 141, 104, 0) 100%
                );
            }

            &--Content {
                letter-spacing: -0.03em;
                color: var(--Color__Black);

                position: absolute;
                top: 32%;
                /* left: 50%; */

                transform: translateY(-85%);
                rotate: -90deg;

                white-space: nowrap;

                &::before {
                    content: "";

                    width: 54px;
                    height: 2px;
                    background-color: #2c5a54;

                    position: absolute;
                    bottom: 16px;
                    left: -75px;
                }
            }
        }
    }

    .infoBlock {
        background-color: var(--Color__BGQuestionBlock);

        &Wrapper {
            @include displayFlex(flex-start, center, column);
            gap: 80px;

            padding-top: 134px;
            padding-bottom: 50px;

            position: relative;

            @media (max-width: 1100px) {
                gap: 45px;
                padding: 60px 0 30px;
            }

            &::before {
                content: "";

                max-width: 487px;
                max-height: 1084px;

                width: 100%;
                height: 100%;

                position: absolute;
                top: 87px;
                right: 0;

                background-image: url(../images/decor/advantegesBeforeImg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: 1100px) {
                    display: none;
                }
            }

            &::after {
                content: "";

                max-width: 610px;
                max-height: 833.68px;

                width: 100%;
                height: 100%;

                position: absolute;
                bottom: 0;
                left: 0;

                background-image: url(../images/decor/advantegesAfterImg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: 1100px) {
                    display: none;
                }
            }
        }

        &Content {
            width: 100%;

            &Wrapper {
                @include displayFlex(flex-start, space-between);
                gap: 39px;

                width: 100%;

                @media (max-width: 1100px) {
                    flex-direction: column;
                    gap: 30px;
                }
            }

            &--Title {
                @include font(
                    var(--SizeText__TitleSection),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleSection)
                );

                letter-spacing: 0.07em;

                color: var(--Color__White);

                max-width: 657px;
                width: 100%;

                position: relative;

                @media (max-width: 1100px) {
                    @include font(
                        var(--SizeText__TitleSectionModile),
                        400,
                        "RasfirePersonal",
                        var(--LineHeight__TitleSectionModile)
                    );

                    width: 101%;
                }

                @media (max-width: 600px) {
                    max-width: 450px;
                }

                &::before {
                    content: "";

                    width: 100px;
                    height: 2px;

                    background-color: var(--Color__Decor);

                    position: absolute;
                    top: 13px;
                    right: -140px;

                    @media (max-width: 1100px) {
                        width: 71px;
                        bottom: 13px;
                        top: auto;
                        right: -8px;
                    }
                }
            }

            &--SubTitle {
                letter-spacing: -0.03em;

                color: #d9d9d9;

                max-width: 717px;
                width: 100%;

                margin-top: 50px;

                @media (max-width: 1100px) {
                    margin: 0;
                    font-size: 17px;
                    line-height: 26px;
                }
            }
        }

        &--BlockBoldTitle {
            width: 100%;

            position: relative;

            &.right1 {
                &.infoBlock--BlockBoldTitle::before {
                    content: "";
                    top: 153px;

                    @media (max-width: 1100px) {
                        top: 0;
                    }
                }
            }

            &::before {
                content: "";

                max-width: 1700px;
                width: 100%;

                height: 0.3px;

                background-color: var(--Color__Decor);

                position: absolute;
                top: 172.2px;
                left: 0;

                z-index: 10;

                @media (max-width: 1100px) {
                    top: 0;
                }
            }

            &__Wrapper {
                & .right {
                    color: rgba(255, 255, 255, 0.68);
                    -webkit-text-stroke: 0;

                    width: 100%;
                    text-align: right;
                }
            }

            &__Title {
                @include font(
                    var(--SizeText__TitleBoldText),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__TitleBoldText)
                );
                letter-spacing: 0.05em;

                color: transparent;
                -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);

                z-index: 20;

                @media (max-width: 1100px) {
                    display: none;
                }
            }
        }
    }

    .numbersBlock {
        &Wrapper {
            width: 100%;

            padding: 98px 0;

            @media (max-width: 1100px) {
                padding: 60px 0;
            }
        }

        &List {
            @include displayFlex(center, space-between);
            gap: 15px;

            @media (max-width: 1100px) {
                flex-direction: column;
                gap: 19px;
            }
        }

        &Item {
            @include displayFlex(center, center, column);
            gap: 38px;

            color: var(--Color__Black);

            @media (max-width: 1100px) {
                gap: 10px;
            }

            &--Title {
                @include font(
                    var(--SizeText__NumbersTitle),
                    700,
                    "Raleway",
                    var(--LineHeight__NumbersTitle)
                );

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__NumbersTitleModile);
                    line-height: var(--LineHeight__NumbersTitleModile);
                }
            }

            &--Content {
                @include font(
                    var(--SizeText__NumbersContent),
                    400,
                    "Montserrat",
                    var(--LineHeight__NumbersContent)
                );

                letter-spacing: -0.03em;

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__NumbersContentModile);
                    line-height: var(--LineHeight__NumbersContentModile);
                }
            }

            &--HR {
                width: 1px;
                height: 319px;

                background-color: #dadada;

                @media (max-width: 1100px) {
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }

    .infoMaterials {
        background-image: url(../images/feedBackMaterials/feedBackMaterialsBD.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;

        &Wrapper {
            width: 100%;

            padding: 71px 0;

            @media (max-width: 1100px) {
                padding: 40px 0;
            }
        }

        &Block {
            background: url(../images/feedBackMaterials/feedBackMaterialsWrapperBD.png)
                rgba(0, 0, 0, 0.6);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            backdrop-filter: blur(3.5px);

            padding: 100px 231px 146px;

            max-width: 1414px;
            margin: 0 auto;

            @include displayFlex(center, center, column);
            gap: 70px;

            @media (max-width: 1350px) {
                padding-left: 100px;
                padding-right: 100px;
            }

            @media (max-width: 1100px) {
                padding: 46px 20px;
                gap: 20px;
            }
        }

        &--Title {
            @include font(
                var(--SizeText__TitleSection),
                400,
                "RasfirePersonal",
                var(--LineHeight__TitleSection)
            );

            letter-spacing: 0.07em;
            text-transform: uppercase;

            color: var(--Color__White);

            width: 100%;
            text-align: center;

            white-space: nowrap;

            @media (max-width: 1100px) {
                white-space: normal;
                font-size: var(--SizeText__TitleSectionModile);
                line-height: var(--LineHeight__TitleSectionModile);
            }
        }

        &--HR {
            width: 321px;
            height: 2px;
            background-color: var(--Color__Decor);

            @media (max-width: 1100px) {
                width: 148px;
            }
        }

        &--Content {
            letter-spacing: -0.03em;
            color: var(--Color__White);
            text-align: center;

            @media (max-width: 1100px) {
                font-size: var(--SizeText__MainTextModile);
                line-height: var(--LineHeight__MainTextModile);
            }
        }

        &--Button {
            border-color: var(--Color__White);
            color: var(--Color__White);

            &:hover {
                background-color: var(--Color__White);
                color: var(--Color__Black);
            }

            @media (max-width: 1100px) {
                padding: 9.5px 29px;
            }
        }
    }

    .servicesBlock {
        position: relative;
        overflow: hidden;

        &Wrapper {
            width: 100%;

            padding: 172px 0;

            @media (max-width: 1100px) {
                padding: 40px 0 45px;
            }
        }

        &--Title {
            @include font(
                var(--SizeText__TitleSection),
                400,
                "RasfirePersonal",
                var(--LineHeight__TitleSection)
            );

            letter-spacing: 0.07em;
            text-transform: uppercase;

            color: var(--Color__Black);

            margin-bottom: 60px;

            @media (max-width: 1100px) {
                font-size: 24px;
                line-height: 30px;

                margin-bottom: 30px;
            }

            span {
                font-family: "Montserrat";
            }
        }

        &--Button {
            width: fit-content;
            svg {
                path,
                line {
                    stroke: var(--Color__Active);
                }
            }

            &:hover {
                svg {
                    path,
                    line {
                        stroke: var(--Color__White);
                    }
                }
            }
        }

        &--List {
            display: grid;

            width: 100%;

            grid-template-columns: minmax(382px, 554px) repeat(
                    2,
                    minmax(283px, 410px)
                );
            grid-template-rows:
                minmax(193px, 280px) minmax(77px, 111px) minmax(20px, 30px)
                minmax(285px, 414px) minmax(41px, 60px) minmax(298px, 432px);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            @media (max-width: 1100px) {
                display: none;
            }
        }

        &--Item {
            width: 100%;
            height: 100%;

            position: relative;

            z-index: 555;

            &BD {
                background-position: bottom center;
                background-repeat: no-repeat;
                background-size: cover;

                width: 100%;
                height: 100%;
            }

            &Content {
                position: absolute;

                transform: skewY(6deg);
                bottom: 21px;

                width: 100%;

                padding: 53px 30px;

                background: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(3.5px);

                z-index: 999;

                transition: transform linear 0.2s, bottom linear 0.2s;

                text-align: center;

                &:hover {
                    transform: skewY(0);
                    bottom: 0 !important;
                }

                &__Title {
                    max-width: 487px;
                    width: 100%;

                    margin: 0 auto;

                    @include font(
                        var(--SizeText__MainText),
                        500,
                        "Montserrat",
                        var(--LineHeight__MainText)
                    );

                    text-align: center;

                    letter-spacing: -0.03em;
                    text-transform: uppercase;

                    color: var(--Color__TextItemServeces);
                }
            }
        }

        .div {
            &1 {
                grid-area: 6 / 1 / 7 / 2;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img1.png);
                }
            }
            &2 {
                grid-area: 5 / 2 / 7 / 4;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img2.png);
                }
            }
            &3 {
                grid-area: 4 / 1 / 6 / 2;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img3.png);
                }
            }
            &4 {
                grid-area: 2 / 2 / 5 / 3;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img4.png);
                }
            }
            &5 {
                grid-area: 3 / 3 / 5 / 4;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img5.png);
                }
            }
            &6 {
                grid-area: 1 / 3 / 3 / 4;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img6.png);
                }
            }
            &7 {
                grid-area: 1 / 1 / 4 / 2;

                .servicesBlock--ItemBD {
                    background-image: url(../images/servicesBlock/Images/img7.png);
                }
            }
        }

        &HR {
            &Top {
                &Before,
                &After {
                    width: 100%;
                    height: 1px;

                    position: absolute;

                    z-index: 111;

                    @media (max-width: 1100px) {
                        display: none;
                    }
                }
                &Before {
                    top: 33px;

                    background: linear-gradient(
                        180deg,
                        #b38d68 0%,
                        rgba(179, 141, 104, 0) 100%
                    );
                }
                &After {
                    width: 1px;
                    height: 100%;

                    background-color: var(--Color__Decor);
                    top: 0;
                    left: 1084px;
                }
            }
            &Center {
                &Before {
                    width: 100%;
                    height: 1px;

                    background-color: var(--Color__Decor);

                    position: absolute;
                    top: 624px;

                    z-index: 111;

                    @media (max-width: 1100px) {
                        display: none;
                    }
                }

                &After {
                    &Decor {
                        width: 302px;
                        height: 302px;

                        background-image: url(../images/servicesBlock/decor.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;

                        position: absolute;

                        top: 278px;
                        left: 927px;

                        z-index: 222;

                        @media (max-width: 1100px) {
                            display: none;
                        }
                    }
                }
            }
        }

        &Modile {
            gap: 40px;

            display: none;

            @media (max-width: 1100px) {
                @include displayFlex(flex-start, flex-start, column);
            }

            &--Swiper {
                width: 100%;

                padding-bottom: 66px;

                &Wrapper {
                    width: 100%;
                }

                .swiper-pagination {
                    bottom: 0;

                    @include displayFlex(center, center);
                    gap: 11px;

                    &-bullet {
                        width: 11px;
                        height: 11px;

                        background-color: #898989;

                        &-active {
                            background-color: var(--Color__Decor);
                        }
                    }
                }
            }

            &--Item {
                width: 300px;
                height: 305px;

                position: relative;

                z-index: 555;

                &BD {
                    background-position: bottom center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    width: 100%;
                    height: 100%;
                }

                &Content {
                    position: absolute;

                    transform: skewY(6deg);
                    bottom: 21px;

                    width: 100%;

                    padding: 44px 20px;

                    background: rgba(255, 255, 255, 0.7);
                    backdrop-filter: blur(3.5px);

                    z-index: 999;

                    transition: transform linear 0.2s, bottom linear 0.2s;

                    &:hover {
                        transform: skewY(0);
                        bottom: 0 !important;
                    }

                    &__Title {
                        width: 100%;

                        margin: 0 auto;

                        @include font(18px, 500, "Montserrat", 27px);

                        text-align: center;

                        letter-spacing: -0.03em;
                        text-transform: uppercase;

                        color: var(--Color__TextItemServeces);
                    }
                }
            }
        }
    }

    .advantages {
        background-color: #1d2b38;
        position: relative;

        &::before {
            content: "";

            max-width: 804px;
            width: 100%;
            height: 670px;

            background-image: url(../images/decor/advantagesBDLeft.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;
            top: 20px;
            left: 0;

            z-index: 0;
        }

        &::after {
            content: "";

            position: absolute;

            top: 774px;

            width: 100%;
            height: 1px;

            background-color: var(--Color__Decor);

            z-index: 555;

            @media (max-width: 1100px) {
                top: 418px;
            }

            @media (max-width: 407px) {
                top: 443px;
            }
        }

        @media (max-width: 1100px) {
            padding: 0;

            &::before {
                display: none;
            }
        }

        &Wrapper {
            @include displayFlex(flex-start, flex-start, column);
            gap: 236px;

            padding-top: 100px;

            position: relative;

            &::before {
                content: "";

                width: 132px;
                height: 302px;

                background-image: url(../images/decor/circleReview.svg);
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;

                position: absolute;
                bottom: 52px;
                right: 0;

                z-index: 0;

                @media (max-width: 1100px) {
                    width: 78px;
                    height: 149px;

                    bottom: 0;
                }
            }

            @media (max-width: 1100px) {
                gap: 60px;
                padding: 0;
            }
        }

        &--Title {
            max-width: 800px;
            width: 100%;

            @include font(
                var(--SizeText__TitleSection),
                400,
                "RasfirePersonal",
                var(--LineHeight__TitleSection)
            );

            letter-spacing: 0.07em;
            text-transform: uppercase;

            color: var(--Color__White);

            position: relative;

            &::before {
                content: "";

                width: 274px;
                height: 2px;

                background-color: var(--Color__Decor);

                position: absolute;

                bottom: 33px;
                right: 0;
            }

            @media (max-width: 1100px) {
                max-width: 500px;
                font-size: var(--SizeText__TitleSectionModile);
                line-height: var(--LineHeight__TitleSectionModile);

                & span {
                    display: none;
                }

                &::before {
                    width: 94px;
                    bottom: 15px;
                }
            }

            &Wrapper {
                width: 100%;

                position: relative;

                margin-bottom: 140px;

                &::after {
                    content: "";

                    max-width: 804px;
                    width: 100%;
                    height: 100%;

                    background-image: url(../images/decor/advantagesBDRight.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    position: absolute;
                    top: -132px;
                    right: 0;

                    z-index: 0;
                }

                @media (max-width: 1100px) {
                    margin: 0;

                    &::after,
                    &::before {
                        display: none;
                    }
                }
            }

            &Inner {
                width: 100%;

                @include displayFlex(flex-start, space-between);
                gap: 10px;

                @media (max-width: 1100px) {
                    flex-direction: column;
                    gap: 30px;
                }
            }

            &List {
                @include displayFlex(flex-start, flex-start, column);
                gap: 24px;

                margin-top: 77px;

                z-index: 555;

                @media (max-width: 1100px) {
                    gap: 22px;
                    margin: 0;
                }
            }

            &Item {
                transition: all linear 0.4s;

                color: var(--Color__White);

                &:hover {
                    color: var(--Color__Decor);
                    transform: translateX(-25px);
                }

                &__Title {
                    line-height: 27px;

                    @media (max-width: 1100px) {
                        font-size: 17px;
                        line-height: 21px;
                    }
                }
            }
        }

        &--Content {
            &Wrapper {
                width: 100%;

                padding-bottom: 20px;

                @media (max-width: 1100px) {
                    padding-bottom: 0;
                }
            }

            &Inner {
                @include displayFlex(flex-start, space-between);
                gap: 20px;

                @media (max-width: 1100px) {
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }

        &--Left {
            &Wrapper {
                @include displayFlex(flex-start, flex-start, column);
                gap: 81px;

                max-width: 707px;
                width: 100%;

                @media (max-width: 1100px) {
                    gap: 30px;
                }
            }

            &__Title {
                @include font(24px, 400, "Montserrat", 29px);

                color: var(--Color__White);

                margin-left: 20px;

                @media (max-width: 1100px) {
                    font-size: 17px;
                    line-height: 21px;

                    margin: 0;
                }
            }

            &List {
                &s {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 77px;

                    margin-left: 50px;

                    @media (max-width: 1100px) {
                        gap: 30px;

                        margin-left: 40px;
                    }
                }

                &Number {
                    counter-reset: LeftListNumber;

                    @include displayFlex(flex-start, flex-start, column);
                    gap: 27px;

                    @media (max-width: 1100px) {
                        gap: 11px;
                    }
                }

                &Content {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 28px;

                    @media (max-width: 1100px) {
                        gap: 11px;
                    }
                }
            }

            &Item {
                &Number {
                    color: var(--Color__SubMainText);

                    position: relative;

                    &::before {
                        counter-increment: LeftListNumber;
                        content: counters(LeftListNumber, "") ".";

                        @include font(24px, 400, "Montserrat", 29px);
                        color: var(--Color__White);

                        position: absolute;
                        top: 0;
                        left: -35px;

                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 21px;
                        }
                    }

                    &__Title {
                        @include font(18px, 400, "Montserrat", 22px);

                        @media (max-width: 1100px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }

                &Content {
                    color: var(--Color__SubMainText);

                    position: relative;

                    &::before {
                        content: "";

                        width: 33px;
                        height: 33px;

                        background-image: url(../images/decor/checkMark__marker.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;

                        @include font(24px, 400, "Montserrat", 29px);
                        color: var(--Color__White);

                        position: absolute;
                        top: 0;
                        left: -44px;

                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 21px;

                            width: 20px;
                            height: 20px;

                            left: -35px;
                        }
                    }

                    &__Title {
                        @include font(18px, 400, "Montserrat", 22px);

                        @media (max-width: 1100px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }

        &--Right {
            background-color: rgba(22, 22, 22, 0.32);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
            backdrop-filter: blur(2px);

            height: 1103px;

            @media (max-width: 1100px) {
                width: 100%;
                height: auto;
            }

            &Wrapper {
                max-width: 830px;
                width: 100%;

                padding: 161px 73px 52px 103px;

                z-index: 555;

                @include displayFlex(flex-start, flex-start, column);
                gap: 70px;

                @media (max-width: 1100px) {
                    padding: 40px 20px 30px;
                    gap: 30px;
                }
            }

            &__Title {
                @include font(
                    var(--SizeText__SubTitleSection),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__SubTitleSection)
                );

                letter-spacing: 0.07em;
                text-transform: uppercase;

                color: var(--Color__White);

                & span {
                    font-family: "Montserrat";
                }

                @media (max-width: 1100px) {
                    font-size: 22px;
                    line-height: 27px;
                }
            }

            &__Text {
                @include font(
                    var(--SizeText__SubMainText),
                    400,
                    "Montserrat",
                    26px
                );
                color: var(--Color__SubMainText);

                @media (max-width: 1100px) {
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            &__Button {
                svg {
                    path,
                    line {
                        stroke: var(--Color__Active);
                    }
                }

                &:hover {
                    svg {
                        path,
                        line {
                            stroke: var(--Color__White);
                        }
                    }
                }
            }
        }
    }
}
