@import "./mixin.scss";

.main {
    &Title {
        height: 722px;
        width: 100%;
        backdrop-filter: blur(9px);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        position: relative;

        @media (max-width: 1100px) {
            height: 510px;
        }

        &Wrapper {
            @include displayFlex(center, center, column);
            gap: 81px;
            padding-top: 210px;

            @media (max-width: 1100px) {
                padding-top: 100px;
            }
        }

        &Info {
            color: var(--Color__White);
            letter-spacing: 0.055em;
            @include displayFlex(flex-start, center, column);
            gap: 65px;

            width: 100%;

            z-index: 999;

            @media (max-width: 1100px) {
                gap: 30px;
            }

            &--List {
                @include displayFlex(flex-start, center, column);
                gap: 14px;

                max-width: 920px;

                margin-left: 20px;

                list-style: disc;
            }

            &--Item {
                color: var(--Color__Decor);

                &Text {
                    color: var(--Color__White);
                    letter-spacing: -0.03em;

                    @media (max-width: 1100px) {
                        @include font(
                            var(--SizeText__MainTextModile),
                            400,
                            "Montserrat",
                            var(--LineHeight__MainTextModile)
                        );
                    }
                }
            }

            &--title {
                letter-spacing: 0.055em;

                @include font(
                    var(--SizeText__OtherPageMailBlockTitle),
                    400,
                    "RasfirePersonal",
                    var(--LineHeight__OtherPageMailBlockTitle)
                );

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__TitleMainScreenModile);
                    line-height: var(--LineHeight__TitleMainScreenModile);
                }
            }
        }

        &HR {
            &Left,
            &Right {
                position: absolute;

                width: 100%;
                height: 1px;

                background-color: var(--Color__Decor);

                z-index: 10;
            }
            &Left {
                left: 0;
                top: 257px;

                @media (max-width: 1100px) {
                    top: 115.5px;
                }
            }

            &Right {
                right: 0;
                top: 255px;

                // @media (max-width: 1194px) {
                //     top: 361.5px;
                // }

                @media (max-width: 1100px) {
                    top: 115.5px;
                }

                @media (max-width: 431px) {
                    top: 151.5px;
                }
            }
        }
    }

    &HR {
        width: 100%;
        height: 1px;

        background-color: var(--Color__Decor);

        margin-bottom: 52px;

        @media (max-width: 1100px) {
            margin-bottom: 25px;
        }
    }

    .breadCrumbs {
        &Wrapper {
            padding: 53px 0 43px;
        }

        &--text {
            color: rgba(0, 0, 0, 0.4);

            &--active {
                color: var(--Color__Black);
            }
        }
    }

    .Info {
        &Wrapper {
            @include displayFlex(flex-start, center, row);
            gap: 74px;
            padding: 134px 0px 187px;

            @media (max-width: 1100px) {
                padding: 0 0 90px;
                flex-direction: column;

                gap: 60px;
            }
        }

        &Left {
            max-width: 702px;
            width: 100%;

            @include displayFlex(center, center, column);
            gap: 60px;

            @media (max-width: 1100px) {
                max-width: none;
                gap: 45px;
            }

            &--text {
                @include font(
                    var(--SizeText__MainText),
                    400,
                    "Montserrat",
                    var(--LineHeight__MainText)
                );
                letter-spacing: -0.03em;

                @media (max-width: 1100px) {
                    font-size: var(--SizeText__MainTextModile);
                    line-height: var(--LineHeight__MainTextModile);
                }
            }

            &Info {
                @include displayFlex(flex-start, flex-start, column);
                gap: 40px;

                width: 100%;

                @media (max-width: 1100px) {
                    gap: 20px;
                }
            }

            &Title {
                @include displayFlex(flex-start, flex-start, column);
                gap: 30px;

                width: 100%;

                @media (max-width: 1100px) {
                    gap: 5px;
                }

                &--title {
                    &2 {
                        @include font(
                            var(--SizeText__TitleSection),
                            400,
                            "RasfirePersonal",
                            var(--LineHeight__TitleSection)
                        );

                        span{
                            font-family: "Montserrat";
                        }

                        @media (max-width: 1100px) {
                            font-size: 36px;
                            line-height: normal;
                        }
                    }

                    &3 {
                        @include font(
                            var(--SizeText__SubTitleSection),
                            400,
                            "RasfirePersonal",
                            var(--LineHeight__SubTitleSection)
                        );

                        span{
                            font-family: "Montserrat";
                        }

                        @media (max-width: 1100px) {
                            font-size: 21px;
                            line-height: normal;
                        }
                    }
                }
            }

            &List {
                &s {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 27px;

                    margin-left: 50px;

                    @media (max-width: 1100px) {
                        gap: 30px;

                        margin-left: 40px;
                    }
                }

                &Number {
                    counter-reset: LeftListNumber;

                    @include displayFlex(flex-start, flex-start, column);
                    gap: 27px;

                    @media (max-width: 1100px) {
                        gap: 11px;
                    }
                }

                &Content {
                    @include displayFlex(flex-start, flex-start, column);
                    gap: 27px;

                    @media (max-width: 1100px) {
                        gap: 11px;
                    }
                }
            }

            &Item {
                &Number {
                    color: var(--Color__SubMainText);

                    position: relative;

                    &::before {
                        counter-increment: LeftListNumber;
                        content: counters(LeftListNumber, "") ".";

                        @include font(24px, 400, "Montserrat", 29px);
                        color: var(--Color__Black);

                        position: absolute;
                        top: 0;
                        left: -35px;

                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 21px;
                        }
                    }

                    &__Title {
                        @include font(22px, 400, "Montserrat", 27px);

                        @media (max-width: 1100px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }

                &Content {
                    color: var(--Color__SubMainText);
                    position: relative;

                    &::before {
                        content: "";

                        width: 33px;
                        height: 33px;

                        background-image: url(../images/services/okay.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;

                        @include font(24px, 400, "Montserrat", 29px);
                        color: var(--Color__Black);

                        position: absolute;
                        top: 5px;
                        left: -49px;

                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 21px;

                            width: 20px;
                            height: 20px;

                            left: -35px;
                        }
                    }

                    &__Title {
                        @include font(18px, 400, "Montserrat", 22px);
                        word-wrap: break-word;
                        max-width: 589px;
                        @media (max-width: 1100px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }

        &Right {
            max-width: 697px;
            width: 100%;

            @media (max-width: 1100px) {
                max-width: none;
            }

            @include displayFlex(flex-start, flex-start, column);
            gap: 52px;

            @media (max-width: 1100px) {
                gap: 40px;
            }

            &Table {
                width: 100%;

                &--table {
                    width: 100%;

                    & tbody {
                        width: 100%;

                        @include displayFlex(flex-start, flex-start, column);
                        gap: 10px;

                        @media (max-width: 1100px) {
                            gap: 5px;
                        }
                    }
                }

                &--tr {
                    width: 100%;
                    background-color: rgba(192, 192, 192, 0.13);

                    padding: 32px 30px;

                    @include font(17px, 400, "Montserrat", 26px);
                    letter-spacing: 0.04em;

                    word-wrap: break-word;
                    word-break: break-all;

                    @include displayFlex(flex-start, space-between);
                    gap: 20px;

                    @media (max-width: 1100px) {
                        font-size: 14px;
                        line-height: normal;

                        padding: 15px;

                        gap: 5px;
                    }

                    &__Header {
                        background: var(--Color__BGQuestionBlock);

                        @include displayFlex(center, space-between);

                        padding: 33px 30px 24px;

                        color: var(--Color__White);

                        @include font(
                            var(--SizeText__MainText),
                            400,
                            "RasfirePersonal",
                            var(--LineHeight__MainText)
                        );

                        @media (max-width: 1100px) {
                            padding: 15px;

                            font-size: var(--SizeText__MainTextModile);
                            line-height: var(--LineHeight__MainTextModile);
                        }
                    }
                }

                &--name {
                    max-width: 380px;
                    width: 100%;

                    @include displayFlex(center, flex-start, row);

                    &__first {
                        max-width: 380px;
                        width: 100%;
                    }
                }

                &--price {
                    max-width: 250px;
                    width: 100%;

                    text-align: left;

                    @media (max-width: 1100px) {
                        max-width: 100px;
                    }

                    &__first {
                        max-width: 272px;
                        width: 100%;

                        position: relative;

                        padding-left: 20px;

                        @media (max-width: 1100px) {
                            max-width: 120px;
                        }

                        &::before {
                            content: "";

                            width: 1px;
                            height: 57px;

                            background-color: rgba(255, 255, 255, 0.3);

                            position: absolute;
                            top: 50%;
                            left: 0px;

                            transform: translateY(-50%);

                            @media (max-width: 1100px) {
                                height: 35px;
                            }
                        }
                    }
                }
            }

            &--text {
                max-width: 697px;
                width: 100%;

                word-wrap: break-word;

                @include font(
                    var(--SizeText__MainText),
                    400,
                    "Montserrat",
                    var(--LineHeight__ExamplesWorkItemSubText)
                );

                @media (max-width: 1100px) {
                    max-width: none;

                    font-size: var(--SizeText__MainTextModile);
                    line-height: var(--LineHeight__MainTextModile);
                }
            }
        }
    }

    .feedBack {
        margin: 0 auto;
        max-width: 1413px;

        &Wrapper {
            max-width: 905px;
            margin: 0 auto;

            text-align: center;
        }

        &--Title {
            text-align: center;
        }

        &List {
            width: 100%;
            justify-content: center;
        }

        @media (max-width: 1100px) {
            margin-bottom: 50px;
        }
    }

    .examplesWork {
        position: relative;
        
        &::before{
            content: "";
            max-width: 487px;
            max-height: 1050px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 87px;
            right: 0;
            background-image: url(../images/decor/advantegesBeforeImg.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::after{
            content: "";
            max-width: 610px;
            max-height: 833.68px;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url(../images/decor/advantegesAfterImg.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        @media (max-width: 1100px) {
            &::before, 
            &::after{
                display: none;
            }
        }

        &Wrapper {
            padding-top: 134px;

            @media (max-width: 1100px) {
                padding-top: 50px;
            }
        }
    }
}
