.mainTitle {
  width: 100%;
  background: url(../images/about/backTitleAbout.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.mainTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 68px;
  padding: 197px 0px 0px 0px;
}
@media (max-width: 1100px) {
  .mainTitleWrapper {
    gap: 10px;
    padding: 105px 0px 0 0px;
  }
}
.mainTitleInfo {
  color: var(--Color__White);
  letter-spacing: 0.055em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 68px;
}
@media (max-width: 1100px) {
  .mainTitleInfo {
    gap: 30px;
  }
}
.mainTitleInfo--title {
  max-width: 1146px;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__OtherPageMailBlockTitle);
  line-height: var(--LineHeight__OtherPageMailBlockTitle);
  font-weight: 400;
  letter-spacing: 0.055em;
}
@media (max-width: 1100px) {
  .mainTitleInfo--title {
    font-size: var(--SizeText__TitleMainScreenModile);
    line-height: var(--LineHeight__TitleMainScreenModile);
  }
}
.mainTitleInfo--text {
  max-width: 728px;
  letter-spacing: -0.03em;
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__MainText);
  font-weight: 400;
}
@media (max-width: 1100px) {
  .mainTitleInfo--text {
    max-width: 555px;
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.main .numbersBlock {
  width: 100%;
}
.main .numbersBlockItem--Title {
  color: var(--Color__Decor);
}
.main .numbersBlockItem--Content {
  color: var(--Color__White);
}
.main .numbersBlockItem--HR {
  background-color: #dadada;
}
.main .breadCrumbs {
  border-bottom: 1px solid var(--Color__Decor);
}
.main .breadCrumbsWrapper {
  padding: 53px 0 43px;
}
.main .breadCrumbs--text {
  color: rgba(0, 0, 0, 0.4);
}
.main .breadCrumbs--text--active {
  color: var(--Color__Black);
}
.main .italy {
  width: 100%;
}
.main .italyWrapper {
  padding: 95px 0px 0 0px;
}
@media (max-width: 1100px) {
  .main .italyWrapper {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
.main .italyMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
}
.main .italyInfo {
  width: 100%;
}
.main .italyInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
  padding-left: 50px;
}
@media (max-width: 1100px) {
  .main .italyInfoWrapper {
    gap: 25px;
    padding-left: 60px;
  }
}
.main .italyTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 83px;
}
@media (max-width: 1150px) {
  .main .italyTitle {
    gap: 40px;
    align-items: flex-end;
  }
}
.main .italyTitle--title {
  max-width: 874px;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
@media (max-width: 1100px) {
  .main .italyTitle--title {
    max-width: 407px;
    width: 100%;
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__TitleSectionModile);
    line-height: var(--LineHeight__TitleSectionModile);
    font-weight: 400;
  }
}
.main .italyTitle--hr {
  width: 274px;
  height: 2px;
  background-color: var(--Color__LineBeige);
  margin-bottom: 40px;
}
@media (max-width: 1100px) {
  .main .italyTitle--hr {
    max-width: 125px;
    width: 100%;
    margin-bottom: 13px;
  }
}
@media (max-width: 610px) {
  .main .italyTitle--hr {
    display: none;
  }
}
.main .italyText {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center flex-start;
  justify-content: row;
}
.main .italyText--text {
  max-width: 900px;
  width: 100%;
  font-family: "Montserrat";
  font-size: var(--SizeText__SliderTitle);
  line-height: var(--LineHeight__SliderTitle);
  font-weight: 400;
  letter-spacing: 0.07em;
}
@media (max-width: 1100px) {
  .main .italyText--text {
    max-width: 600px;
    font-family: "Montserrat";
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
  }
}
.main .italyList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
}
@media (max-width: 1100px) {
  .main .italyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.main .italyLists {
  max-width: 701px;
  width: 100%;
}
@media (max-width: 1100px) {
  .main .italyLists {
    gap: 30px;
    max-width: none;
  }
}
.main .italyListWrapper {
  margin-left: 31px;
}
@media (max-width: 1100px) {
  .main .italyListWrapper {
    margin-left: 40px;
  }
}
.main .italyListContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  max-width: 641px;
}
@media (max-width: 1100px) {
  .main .italyListContent {
    gap: 11px;
  }
}
.main .italyListImg {
  max-width: 696px;
  max-height: 575px;
  width: 100%;
  height: 100%;
}
.main .italyListImg--img {
  max-width: 696px;
  max-height: 575px;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .main .italyListImg {
    min-width: 336px;
  }
}
@media (max-width: 321px) {
  .main .italyListImg {
    min-width: 300px;
  }
}
.main .italyItemContent {
  position: relative;
}
.main .italyItemContent::before {
  content: "";
  width: 33px;
  height: 33px;
  background-image: url(../images/about/okay.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: -45px;
}
@media (max-width: 1100px) {
  .main .italyItemContent::before {
    font-size: 17px;
    line-height: 21px;
    width: 20px;
    height: 20px;
    left: -35px;
  }
}
.main .italyItemContent--text {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main .italyItemContent--text {
    font-size: 14px;
    line-height: 17px;
  }
}
.main .designer {
  width: 100%;
}
.main .designerWrapper {
  padding: 139px 0px 167px;
}
.main .designerInfo {
  background: var(--Color__White);
  box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.1);
  padding: 110px 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
@media (max-width: 768px) {
  .main .designerInfo {
    padding: 110px 20px;
  }
}
.main .designerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 737px;
}
.main .designer--title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__SubTitleSection);
  line-height: var(--LineHeight__SubTitleSection);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: var(--Color__Black);
}
.main .designer--title span {
  color: var(--Color__LineBeige);
}
.main .designer--text {
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__ExamplesWorkItemSubText);
  font-weight: 400;
  color: #3e3e3e;
  text-align: center;
  max-width: 737px;
}
.main .designerNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.main .designerNumbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.main .designerNumbers--text {
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__Telephone);
  font-weight: 700;
}
@media (max-width: 426px) {
  .main .designerNumbers--text {
    font-family: "Montserrat";
    font-size: 15px;
    line-height: var(--LineHeight__TelephoneModile);
    font-weight: 700;
  }
}
@media (max-width: 426px) {
  .main .designerNumbers {
    gap: 0px;
  }
}
.main .designer--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 48px;
  max-width: 386px;
  color: var(--Color__White);
  background-color: var(--Color__Active);
}
.main .designer--button:hover {
  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.25);
}
@media (max-width: 426px) {
  .main .designer--button {
    max-width: 272px;
  }
}
.main .inviteDesigner {
  height: 854px;
}
@media (max-width: 1100px) {
  .main .inviteDesigner {
    height: auto;
  }
}
.main .inviteDesignerWrapper {
  max-height: none;
}
.main .inviteDesignerWrapper::before {
  height: 854px;
  background-image: url(../images/about/inviteDesignerBD.png);
  background-position: center top;
  background-size: cover;
}
@media (max-width: 1100px) {
  .main .inviteDesignerWrapper::before {
    background-image: none;
    height: 1px;
  }
}
.main .inviteDesignerWrapper::after {
  display: none;
}
@media (max-width: 1100px) {
  .main .inviteDesignerWrapper::after {
    display: block;
  }
}

/*# sourceMappingURL=aboutPage.css.map */
