.page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.buttonContent {
  padding: 19px 64px 15px;
  border-radius: 48px;
  border: 1px solid var(--Color__Active);
  color: var(--Color__Active);
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TextButton);
  line-height: var(--LineHeight__TextButton);
  font-weight: 400;
  letter-spacing: 0.05em;
  background: transparent;
  transition: all linear 0.2s;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.buttonContent span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonContent:hover {
  background-color: var(--Color__Active);
  color: var(--Color__White);
}
.buttonContent:hover svg path, .buttonContent:hover svg line {
  stroke: var(--Color__White);
}
@media (max-width: 1100px) {
  .buttonContent {
    padding: 10px 35px;
    font-size: 14px;
    line-height: 21px;
  }
  .buttonContent svg {
    width: 23px;
  }
  .buttonContent svg path, .buttonContent svg line {
    stroke: var(--Color__White);
  }
}

.logo {
  max-width: 310px;
  max-height: 66px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .logo {
    height: 30px;
    width: auto;
  }
}
.logo img {
  width: 100%;
  height: 100%;
}

.buttonArrow {
  padding: 26px 17px 25px;
}

.nav {
  width: 100%;
}
@media (max-width: 1100px) {
  .nav {
    display: none;
  }
}
.nav .menuDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.nav .menuDesktopItem--Title {
  display: flex;
  font-family: "Gabriola";
  font-size: var(--SizeText__HeaderText);
  line-height: var(--LineHeight__HeaderText);
  font-weight: 400;
  color: var(--Color__Black);
  letter-spacing: 0.055em;
  cursor: pointer;
  white-space: nowrap;
}
.nav .menuDesktopItem--Title:hover {
  color: var(--Color__Decor);
}
.nav .dropList:hover .navServices {
  display: flex;
}
.nav .dropListBefor {
  position: relative;
}
.nav .dropListBefor::before {
  content: "";
  width: 10px;
  height: 7px;
  background-image: url(../images/decor/arrowBottom.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--Color__Decor);
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
}
.navServices {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1414px;
  width: 100%;
  padding: 60px 56px 56px;
  background-color: var(--Color__White);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 74px;
  z-index: 99999;
  display: none;
}
.navServicesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 29px;
}
.navServices--Title {
  font-family: "Montserrat";
  font-size: var(--SizeText__SubMainText);
  line-height: var(--LineHeight__SubMainText);
  font-weight: 600;
  color: var(--Color__Black);
}
.navServices--hr {
  width: 50px;
  border-bottom: 2px solid var(--Color__Decor);
}
.navServicesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px;
}
.navServicesItem {
  display: flex;
}
.navServicesItem--Title {
  font-family: "Montserrat";
  font-size: var(--SizeText__ThinTextContent);
  line-height: var(--LineHeight__ThinTextContent);
  font-weight: 400;
}
.navServicesItem--Title:hover {
  color: var(--Color__Decor);
}
.navModile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: none;
  width: 100%;
  position: absolute;
  top: 82px;
  left: 0;
  background-color: var(--Color__White);
  text-align: left;
  z-index: 9999;
}
.navModileItem {
  width: 100%;
}
.navModileItem[open] .navModileItem--Header {
  background-color: var(--Color__Decor);
}
.navModileItem[open] .navModileItem--Header::before {
  background-image: url(../images/decor/plusEmpty.svg);
}
.navModileItem[open] .navModileItem--Header__Title {
  color: var(--Color__White);
}
.navModileItem--Header {
  width: 100%;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
  text-align: left;
  position: relative;
}
.navModileItem--Header::before {
  content: "";
  width: 13px;
  height: 13px;
  transition: all linear 0.2s;
  background-image: url(../images/decor/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.navModileItem--Header::marker {
  display: none;
}
.navModileItem--Header__Title {
  max-width: calc(100% - 40px);
  width: 100%;
  color: var(--Color__Black);
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.navModileItem--Body {
  padding: 20px 50px 40px 20px;
}
.navModileItem--List {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.navModileItem--ItemContent {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: var(--Color__TextMenu);
}
.navModileItem--ItemContent:hover {
  color: var(--Color__Decor);
}

.numbersList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 17px;
  max-width: 260px;
  width: 100%;
}
@media (max-width: 1100px) {
  .numbersList {
    display: none;
    gap: 0;
  }
}
.numbersListModile {
  position: absolute;
  top: 82px;
  left: 0;
  background-color: var(--Color__White);
  max-width: 245px;
  gap: 16px;
}
.numbersListModile--Img {
  width: 10px;
  height: 7px;
  background-image: url(../images/decor/arrowBottomTelephone.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--Color__Black);
}
.numbersItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.numbersItem--Img {
  max-width: 30px;
  max-height: 30px;
  min-width: 24px;
  min-height: 24px;
  width: 100%;
  height: 100%;
}
.numbersItem--Tel {
  font-weight: 600;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .numbersItem--Tel {
    font-family: "Montserrat";
    font-size: var(--SizeText__TelephoneModile);
    line-height: var(--LineHeight__TelephoneModile);
    font-weight: 700;
  }
}
.numbersItemModile {
  width: 100%;
  justify-content: flex-start;
  padding: 10px 20px;
}
.numbersItemModile:hover {
  background-color: var(--Color__Decor);
}
.numbersItemModile:hover .numbersItem--Tel {
  color: var(--Color__White);
}
.numbersModile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: none;
  z-index: 9999;
}
@media (max-width: 1100px) {
  .numbersModile {
    display: flex;
  }
}
.numbersModile svg {
  width: 20px;
  height: 20px;
}
.numbersModile:hover .numbersListModile {
  display: flex;
}
.numbersModile:hover .numbersListModile--Img {
  rotate: 180deg;
}

.breadCrumbs {
  width: 100%;
}
.breadCrumbsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  flex-wrap: wrap;
  row-gap: 0;
}
.breadCrumbs--text {
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Montserrat";
  font-size: var(--SizeText__SubMainText);
  line-height: var(--LineHeight__ExamplesWorkItemSubText);
  font-weight: 400;
}
.breadCrumbs--text--active {
  color: var(--Color__White);
}

.feedBack {
  background-color: var(--Color__DarkGreen);
  max-width: 846px;
  width: 100%;
}
@media (max-width: 1100px) {
  .feedBack {
    max-width: 500px;
  }
}
.feedBackWrapper {
  padding: 96px 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 45px;
  position: relative;
}
@media (max-width: 1100px) {
  .feedBackWrapper {
    gap: 30px;
    padding: 60px 20px 72px;
    align-items: center;
  }
}
.feedBackWrapper::before {
  content: "";
  width: 14px;
  height: 14px;
  animation: flicker 0.8s infinite alternate;
  position: absolute;
  top: 74px;
  right: 30px;
  background: #00dc3e;
  box-shadow: 0px 0px 4px #00dc3e;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  .feedBackWrapper::before {
    top: 20px;
    right: 20px;
  }
}
.feedBack--Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__FeedBackBlock);
  line-height: var(--LineHeight__FeedBackBlock);
  font-weight: 400;
  letter-spacing: 0.07em;
  width: 100%;
  color: var(--Color__White);
  text-align: left;
}
@media (max-width: 1100px) {
  .feedBack--Title {
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__FeedBackBlockModile);
    line-height: var(--LineHeight__FeedBackBlockModile);
    font-weight: 400;
  }
}
.feedBack--subTitle {
  letter-spacing: -0.03em;
  color: #e3e3e3;
}
@media (max-width: 1100px) {
  .feedBack--subTitle {
    font-family: "Montserrat";
    font-size: var(--SizeText__FeedBackBlockSubTitleModile);
    line-height: var(--LineHeight__FeedBackBlockSubTitleModile);
    font-weight: 400;
  }
}
.feedBackList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 84px;
}
@media (max-width: 1100px) {
  .feedBackList {
    gap: 50px;
  }
}
.feedBackItem {
  background-color: rgba(255, 255, 255, 0.32);
  height: 132px;
  width: 177px;
  transition: all linear 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .feedBackItem {
    width: 60px;
    height: 54px;
  }
}
.feedBackItem:hover {
  transform: translateY(-20px);
}
.feedBackItem--Link {
  padding: 17px 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .feedBackItem--Link {
    padding: 4px 7px;
  }
}
.feedBackItem--Img {
  max-width: 98px;
  max-height: 98px;
  width: 100%;
  height: 100%;
}

.examplesWork {
  width: 100%;
  background-color: var(--Color__BGQuestionBlock);
  overflow: hidden;
}
.examplesWorkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 228px;
  padding-bottom: 55px;
}
@media (max-width: 1100px) {
  .examplesWorkWrapper {
    gap: 30px;
    padding: 0;
  }
}
.examplesWork--Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  color: var(--Color__White);
  letter-spacing: 0.07em;
  text-align: center;
  width: 100%;
}
@media (max-width: 1100px) {
  .examplesWork--Title {
    font-size: var(--SizeText__FeedBackBlockModile);
    line-height: 30px;
  }
}
.examplesWorkSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 263px;
  z-index: 999;
  width: 100%;
}
@media (max-width: 1100px) {
  .examplesWorkSlider {
    gap: 181px;
  }
}
.examplesWorkList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 133px;
  width: 100%;
}
@media (max-width: 1100px) {
  .examplesWorkList {
    gap: 190px;
    flex-wrap: wrap;
  }
}
.examplesWorkItem {
  position: relative;
  max-width: 639px;
  width: 100%;
}
.examplesWorkItem::before {
  content: "";
  width: 302px;
  height: 302px;
  background-color: var(--Color__Decor);
  border-radius: 50%;
  position: absolute;
  top: -71px;
  right: -77px;
}
@media (max-width: 1100px) {
  .examplesWorkItem::before {
    width: 97px;
    height: 97px;
    top: -43px;
    right: -38px;
  }
}
.examplesWorkItem--Box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 639px;
  width: 100%;
  background: rgba(22, 22, 22, 0.42);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(2px);
  padding: 20px 34px;
  border-left: 2px solid var(--Color__Decor);
}
@media (max-width: 1100px) {
  .examplesWorkItem--Box {
    border: none;
    padding: 20px;
  }
}
.examplesWorkItem--ImageBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
@media (max-width: 1100px) {
  .examplesWorkItem--ImageBlock {
    gap: 20px;
  }
}
.examplesWorkItem--ImageBlockContent {
  width: 100%;
  text-align: left;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__ExamplesWorkItemPseudoElement);
  line-height: var(--LineHeight__ExamplesWorkItemPseudoElement);
  font-weight: 400;
  color: var(--Color__White);
  letter-spacing: 0.05em;
}
@media (max-width: 1100px) {
  .examplesWorkItem--ImageBlockContent {
    font-size: 15px;
    line-height: 22px;
  }
}
.examplesWorkItem--ImageBlockContent.right {
  text-align: right;
}
.examplesWorkItem--ImageBlock__img {
  max-width: 541px;
  width: 100%;
  height: 100%;
}
.examplesWorkItem--ImageBlock__imgWrapper {
  max-width: 541px;
  width: 100%;
}
.examplesWorkItem--Content {
  position: absolute;
  bottom: -147px;
  left: 34px;
  max-width: 381px;
  width: 100%;
  padding: 42px 37px 19px;
  background-color: var(--Color__White);
  box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 45px;
}
@media (max-width: 1100px) {
  .examplesWorkItem--Content {
    padding: 25px 20px;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
  }
}
.examplesWorkItem--ContentTitle {
  letter-spacing: -0.03em;
  color: var(--Color__Black);
  width: 100%;
  text-align: left;
}
@media (max-width: 1100px) {
  .examplesWorkItem--ContentTitle {
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.examplesWorkItem--ContentLink {
  font-family: "Montserrat";
  font-size: var(--SizeText__ExamplesWorkItemPseudoElement);
  line-height: var(--LineHeight__ExamplesWorkItemPseudoElement);
  font-weight: 400;
  letter-spacing: -0.03em;
  color: var(--Color__ActiveHoverText);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.examplesWorkItem--ContentLink span {
  max-width: 31px;
  max-height: 6px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1100px) {
  .examplesWorkItem--ContentLink {
    font-size: 14px;
    line-height: 21px;
  }
}
.examplesWork .swiper-wrapperExamplesWork {
  padding-top: 80px;
}
.examplesWork .swiper-button-prev, .examplesWork .swiper-button-next {
  top: auto;
  bottom: 0;
  width: auto;
  height: auto;
}
.examplesWork .swiper-button-prev::after, .examplesWork .swiper-button-next::after {
  content: "";
  width: 30px;
  height: 13px;
  background-image: url(../images/decor/arrowButtonNext.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.examplesWork .swiper-button-prev:hover::after, .examplesWork .swiper-button-next:hover::after {
  background-image: url(../images/decor/arrowButtonNextWhite.svg);
}
.examplesWork .swiper-button-prev {
  left: 35%;
  transform: translateX(-35%);
}
.examplesWork .swiper-button-prev::after {
  rotate: 180deg;
}
@media (max-width: 1220px) {
  .examplesWork .swiper-button-prev {
    left: 32%;
    transform: translateX(-32%);
  }
}
.examplesWork .swiper-button-next {
  right: 32%;
  transform: translateX(-32%);
}
@media (max-width: 1220px) {
  .examplesWork .swiper-button-next {
    right: 29%;
    transform: translateX(-29%);
  }
}
.examplesWork .swiper-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11px;
  bottom: 70px !important;
}
.examplesWork .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #898989;
}
.examplesWork .swiper-pagination-bullet-active {
  background-color: var(--Color__Decor);
}

.numbersBlockWrapper {
  width: 100%;
  padding: 98px 0;
}
@media (max-width: 1100px) {
  .numbersBlockWrapper {
    padding: 60px 0;
  }
}
.numbersBlockList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 1100px) {
  .numbersBlockList {
    flex-direction: column;
    gap: 19px;
  }
}
.numbersBlockItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .numbersBlockItem {
    gap: 10px;
  }
}
.numbersBlockItem--Title {
  font-family: "Raleway";
  font-size: var(--SizeText__NumbersTitle);
  line-height: var(--LineHeight__NumbersTitle);
  font-weight: 700;
}
@media (max-width: 1100px) {
  .numbersBlockItem--Title {
    font-size: var(--SizeText__NumbersTitleModile);
    line-height: var(--LineHeight__NumbersTitleModile);
  }
}
.numbersBlockItem--Content {
  font-family: "Montserrat";
  font-size: var(--SizeText__NumbersContent);
  line-height: var(--LineHeight__NumbersContent);
  font-weight: 400;
  letter-spacing: -0.03em;
}
@media (max-width: 1100px) {
  .numbersBlockItem--Content {
    font-size: var(--SizeText__NumbersContentModile);
    line-height: var(--LineHeight__NumbersContentModile);
  }
}
.numbersBlockItem--HR {
  width: 1px;
  height: 319px;
  background-color: #dadada;
}
@media (max-width: 1100px) {
  .numbersBlockItem--HR {
    width: 100%;
    height: 1px;
  }
}

.reviews {
  background-color: #1d2b38;
  position: relative;
}
.reviewsHR {
  width: 100%;
  height: 0.3px;
  background-color: var(--Color__Decor);
  position: absolute;
  top: 158.8px;
  right: 0;
}
@media (max-width: 1100px) {
  .reviewsHR {
    top: 63px;
  }
}
.reviewsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  padding: 134px 0 39px;
  position: relative;
}
.reviewsWrapper::before {
  content: "";
  width: 132px;
  height: 302px;
  background-image: url(../images/decor/circleReview.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 181px;
  right: 0;
  z-index: 0;
}
@media (max-width: 1100px) {
  .reviewsWrapper {
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .reviewsWrapper::before {
    background-image: url(../images/decor/circleReviewMobile.svg);
    width: 71px;
    height: 107px;
    top: 80px;
  }
}
.reviews--Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--Color__White);
  z-index: 999;
}
.reviews--TitleWrapper {
  width: 100%;
  z-index: 999;
}
@media (max-width: 1100px) {
  .reviews--Title {
    font-size: var(--SizeText__TitleSectionModile);
    line-height: var(--LineHeight__TitleSectionModiles);
  }
}
.reviewsSlider {
  width: 100%;
  z-index: 999;
}
.reviewsSliderWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}
.reviewsSliderWrapper::before {
  content: "";
  width: 302px;
  height: 302px;
  background-color: var(--Color__Decor);
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  left: 25px;
  z-index: 0;
}
@media (max-width: 1700px) {
  .reviewsSliderWrapper::before {
    bottom: 40px;
    left: -91px;
  }
}
@media (max-width: 1100px) {
  .reviewsSliderWrapper::before {
    display: none;
  }
}
.reviewsList {
  width: 100%;
}
.reviewsItem {
  max-width: 555px;
  width: 100%;
  padding: 40px 40px 51px;
  background-color: rgba(22, 22, 22, 0.42);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.reviewsItem:nth-child(2n) {
  margin-top: 70px;
}
@media (max-width: 1100px) {
  .reviewsItem:nth-child(2n) {
    margin: 0;
  }
}
@media (max-width: 1100px) {
  .reviewsItem {
    padding: 40px 0 0;
    gap: 30px;
  }
}
.reviewsItem--Img {
  max-width: 474px;
  max-height: 333px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1100px) {
  .reviewsItem--Img {
    max-width: none;
    max-height: none;
  }
}
.reviewsItem--Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 86px;
  padding: 0;
}
@media (max-width: 1100px) {
  .reviewsItem--Content {
    gap: 30px;
    padding: 0 20px 30px;
  }
}
.reviewsItem--ContentTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.reviewsItem--Title {
  width: 100%;
  text-align: left;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__SliderTitle);
  line-height: var(--LineHeight__SliderTitle);
  font-weight: 400;
  letter-spacing: 0.07em;
  color: var(--Color__White);
}
@media (max-width: 1100px) {
  .reviewsItem--Title {
    font-size: var(--SizeText__SliderTitleModile);
    line-height: var(--LineHeight__SliderTitleModile);
  }
}
.reviewsItem--SubTitle {
  width: 100%;
  text-align: left;
  letter-spacing: -0.03em;
  color: #c8c8c8;
}
@media (max-width: 1100px) {
  .reviewsItem--SubTitle {
    font-size: 16px;
    line-height: 24px;
  }
}
.reviewsItem--Description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.reviewsItem--Rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
@media (max-width: 1100px) {
  .reviewsItem--Rating {
    gap: 14px;
  }
}
.reviewsItem--RatingStar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.75px;
}
@media (max-width: 1100px) {
  .reviewsItem--RatingStar {
    gap: 3px;
  }
}
.reviewsItem--RatingStar span {
  max-width: 29px;
  max-height: 28px;
  width: 100%;
  height: 100%;
}
.reviewsItem--RatingStar span svg {
  max-width: 29px;
  max-height: 28px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1100px) {
  .reviewsItem--RatingStar span {
    max-width: 18px;
    max-height: 18px;
    display: contents;
  }
  .reviewsItem--RatingStar span svg {
    max-width: 18px;
    max-height: 18px;
  }
}
.reviewsItem--RatingInfo {
  font-family: "Montserrat";
  font-size: var(--SizeText__ThinTextContent);
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #9f9f9f;
  white-space: nowrap;
}
@media (max-width: 1100px) {
  .reviewsItem--RatingInfo {
    font-size: 13px;
    line-height: 20px;
  }
}
.reviewsItem--ReadMore {
  font-family: "Montserrat";
  font-size: var(--SizeText__SubMainText);
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: var(--Color__Decor);
  white-space: nowrap;
}
@media (max-width: 1100px) {
  .reviewsItem--ReadMore {
    font-size: 14px;
    line-height: 21px;
  }
}
.reviews .swiper-scrollbar {
  height: 5px;
  background: #565656;
  border-radius: 22px;
}
.reviews .swiper-scrollbar-drag {
  width: 81px;
  height: 10px;
  background: #259d8e;
  border-radius: 35px;
  top: -2.1px;
}

.questions {
  width: 100%;
}
.questionsWrapper {
  width: 100%;
  padding: 172px 0 33px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 90px;
}
.questionsWrapper::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--Color__Decor);
  position: absolute;
  top: 57px;
  left: 0;
}
@media (max-width: 1100px) {
  .questionsWrapper::before {
    display: none;
  }
}
.questionsWrapper::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--Color__Decor);
  position: absolute;
  top: 0;
  right: 267px;
}
@media (max-width: 1100px) {
  .questionsWrapper::after {
    display: none;
  }
}
.questionsWrapper--Title, .questionsWrapper--List {
  width: 100%;
  z-index: 999;
}
@media (max-width: 1100px) {
  .questionsWrapper {
    padding: 60px 0;
    gap: 30px;
  }
}
.questions--Title {
  width: 100%;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .questions--Title {
    font-size: 24px;
    line-height: 30px;
  }
}
.questionsList {
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 1100px) {
  .questionsList {
    gap: 10px;
  }
}
.questionsItem {
  width: 100%;
  background-color: var(--Color__BGQuestionBlock);
}
.questionsItem[open] .questionsItem--Header::before {
  background-image: url(../images/decor/plusQuestionsOpen.svg);
}
.questionsItem--Header {
  width: 100%;
  padding: 34.5px 67px;
  cursor: pointer;
  text-align: left;
  position: relative;
}
@media (max-width: 1100px) {
  .questionsItem--Header {
    padding: 21px 12px;
  }
}
.questionsItem--Header::before {
  content: "";
  width: 27px;
  height: 27px;
  transition: all linear 0.2s;
  background-image: url(../images/decor/plusQuestions.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 67px;
  transform: translateY(-50%);
}
@media (max-width: 1100px) {
  .questionsItem--Header::before {
    width: 17px;
    height: 17px;
    right: 12px;
  }
}
.questionsItem--Header::marker {
  display: none;
}
.questionsItem--Header__Title {
  max-width: 920px;
  width: 100%;
  color: var(--Color__White);
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .questionsItem--Header__Title {
    font-size: var(--SizeText__ThinTextContent);
    line-height: var(--LineHeight__ThinTextContent);
  }
}
.questionsItem--Body {
  background-color: var(--Color__White);
  padding: 46px 170px 46px 25px;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .questionsItem--Body {
    padding: 0;
    padding-top: 20px;
    font-size: var(--SizeText__ThinTextContent);
    line-height: var(--LineHeight__ThinTextContent);
  }
}

.inviteDesigner {
  position: relative;
}
.inviteDesignerWrapper {
  padding: 139px 143px 167px;
  max-height: 819px;
  background-color: var(--Color__White);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .inviteDesignerWrapper {
    padding: 17px 0 70px;
  }
}
.inviteDesignerWrapper::before {
  content: "";
  background-image: url(../images/decor/inviteDesigner/inviteDesignerDecorImgLeft.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1100px) {
  .inviteDesignerWrapper::before {
    background: none;
    width: calc(100% - 20px);
    height: 1px;
    background-color: var(--Color__Decor);
    top: auto;
    bottom: 40px;
  }
}
.inviteDesignerWrapper::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--Color__Decor);
  position: absolute;
  top: 0;
  right: 267px;
}
@media (max-width: 1100px) {
  .inviteDesignerWrapper::after {
    right: 35px;
    height: calc(100% - 10px);
  }
}
.inviteDesigner--Block {
  background-color: var(--Color__White);
  box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 110px 0;
  z-index: 999;
}
.inviteDesigner--BlockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .inviteDesigner--BlockWrapper {
    gap: 20px;
  }
}
@media (max-width: 1100px) {
  .inviteDesigner--Block {
    padding: 40px 20px;
  }
}
.inviteDesigner--Title {
  width: 100%;
  text-align: center;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__SubTitleSection);
  line-height: var(--LineHeight__SubTitleSection);
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--Color__Black);
}
.inviteDesigner--Title span {
  color: var(--Color__Decor);
}
@media (max-width: 1100px) {
  .inviteDesigner--Title {
    font-size: var(--SizeText__SubTitleSectionModile);
    line-height: var(--LineHeight__TitleSectionModile);
  }
}
.inviteDesigner--Text {
  font-size: 22px;
  line-height: 27px;
  width: 100%;
  text-align: center;
  color: #3e3e3e;
}
@media (max-width: 1100px) {
  .inviteDesigner--Text {
    margin-top: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}
.inviteDesigner--NumberList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: none;
}
@media (max-width: 1100px) {
  .inviteDesigner--NumberList {
    flex-direction: column;
    align-items: center;
  }
}
.inviteDesigner--Button {
  background-color: var(--Color__Active);
  color: var(--Color__White);
}
.inviteDesigner--Button svg path, .inviteDesigner--Button svg line {
  stroke: var(--Color__White);
}
.inviteDesigner--Button:hover {
  background: var(--Color__Active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.servicesNav {
  background-color: var(--Color__DarkDecorCircle);
}
.servicesNavWrapper {
  width: 100%;
  position: relative;
  padding: 92px 0 230px;
}
@media (max-width: 1100px) {
  .servicesNavWrapper {
    padding: 0;
  }
}
.servicesNav--Services {
  position: relative;
  top: 0;
  display: flex;
  background-color: var(--Color__DarkDecorCircle);
  padding: 0;
}
@media (max-width: 1100px) {
  .servicesNav--Services {
    display: none;
  }
}
.servicesNav--Services .navServices--Title {
  color: var(--Color__White);
}
.servicesNav--Services .navServicesItem--Title {
  color: var(--Color__SubMainText);
  transition: all linear 0.2s;
}
.servicesNav--Services .navServicesItem--Title:hover {
  color: var(--Color__Decor);
}
.servicesNav--ModileList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0;
  background-color: var(--Color__DarkDecorCircle);
  display: none;
}
@media (max-width: 1100px) {
  .servicesNav--ModileList {
    display: block;
  }
}
.servicesNav--ModileItem {
  width: 100%;
}
.servicesNav--ModileItem[open] .servicesNav--ModileItem__Header::before {
  background-image: url(../images/servicesNavModileDecor/servicesNavModileDecor__Close.svg);
}
.servicesNav--ModileItem__Header {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  text-align: left;
  position: relative;
}
.servicesNav--ModileItem__Header::before {
  content: "";
  width: 12px;
  height: 6px;
  transition: all linear 0.2s;
  background-image: url(../images/servicesNavModileDecor/servicesNavModileDecor__Open.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.servicesNav--ModileItem__Header::marker {
  display: none;
}
.servicesNav--ModileItem__HeaderTitle {
  max-width: calc(100% - 60px);
  width: 100%;
  color: var(--Color__White);
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.servicesNav--ModileItem__Body {
  padding-bottom: 20px;
}
.servicesNav--ModileItem__BodyList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.servicesNav--ModileItem__BodyItem {
  display: flex;
}
.servicesNav--ModileItem__BodyItem__Link {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #bcbcbc;
}
.servicesNav--ModileItem__BodyItem__Link:hover {
  color: var(--Color__Decor);
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modalShow {
  display: block;
}
.modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1414px;
  width: 100%;
  background-color: var(--Color__White);
  padding: 63px 20px 120px;
  box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  z-index: 9999;
}
@media (max-width: 1100px) {
  .modalWrapper {
    padding: 70px 20px 52px;
  }
}
@media (max-height: 560px) and (min-width: 1100px) {
  .modalWrapper {
    padding: 20px 20px 20px;
  }
}
.modalForm {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 43px;
}
@media (max-width: 1100px) {
  .modalForm {
    gap: 35px;
  }
}
.modalName, .modalTel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
@media (max-width: 1100px) {
  .modalName, .modalTel {
    gap: 19px;
  }
}
.modalName--Title, .modalTel--Title {
  font-family: "RasfirePersonal";
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .modalName--Title, .modalTel--Title {
    font-size: 23px;
    line-height: 29px;
  }
}
.modalName--Input, .modalTel--Input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__MainText);
  font-weight: 400;
}
@media (max-width: 1100px) {
  .modalName--Input, .modalTel--Input {
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.modalName--Input::placeholder, .modalTel--Input::placeholder {
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #969696;
}
@media (max-width: 1100px) {
  .modalName--Input::placeholder, .modalTel--Input::placeholder {
    font-size: 17px;
    line-height: 21px;
  }
}
.modalButton {
  background-color: #259d8e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--Color__White);
}
.modalButton:hover {
  background-color: var(--Color__White);
  color: var(--Color__Active);
}
.modalClose {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: transform linear 0.2s, opacity linear 0.2s;
}
.modalClose:hover {
  transform: rotate(90deg);
  opacity: 1;
}
@media (max-width: 1100px) {
  .modalClose {
    width: 15px;
    height: 15px;
  }
}
.modalClose::before, .modalClose::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--Color__Black);
  position: absolute;
}
@media (max-width: 1100px) {
  .modalClose::before, .modalClose::after {
    width: 15px;
  }
}
.modalClose::before {
  top: 50%;
  transform: translateY(-50%);
  rotate: 45deg;
}
.modalClose::after {
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  rotate: -45deg;
}

@keyframes flicker {
  from {
    filter: drop-shadow(0px 0px 4px #00dc3e);
  }
}

/*# sourceMappingURL=constant.css.map */
