.mainBlock {
  padding-top: 210px;
  margin-bottom: 73px;
}
@media (max-width: 1100px) {
  .mainBlock {
    padding-top: 30px;
    margin-bottom: 60px;
  }
}
.mainBlockWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.mainBlockContent {
  width: 100%;
}
.mainBlockContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .mainBlockContentWrapper {
    gap: 30px;
  }
}
.mainBlockContent--Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleMainScreen);
  line-height: var(--LineHeight__TitleMainScreen);
  font-weight: 400;
  max-width: 920px;
  width: 100%;
  letter-spacing: 0.055em;
}
@media (max-width: 1100px) {
  .mainBlockContent--Title {
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__TitleMainScreenModile);
    line-height: var(--LineHeight__TitleMainScreenModile);
    font-weight: 400;
  }
}
.mainBlockContent--TitleHrTop {
  position: absolute;
}
.mainBlockContent--TitleHrBottom {
  position: absolute;
}
.mainBlockContent--List {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  max-width: 920px;
  margin-left: 20px;
  list-style: disc;
}
.mainBlockContent--Item {
  color: var(--Color__Decor);
}
.mainBlockContent--ItemText {
  color: var(--Color__Black);
  letter-spacing: -0.03em;
}
@media (max-width: 1100px) {
  .mainBlockContent--ItemText {
    font-family: "Montserrat";
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
    font-weight: 400;
  }
}
.mainBlockImage {
  position: absolute;
  bottom: -35px;
  right: 0;
  max-width: 641px;
  min-width: 280px;
  max-height: 587px;
  min-height: 306px;
  width: 100%;
  height: 100%;
  float: right;
}
@media (max-width: 1420px) {
  .mainBlockImage {
    max-width: 541px;
  }
}
@media (max-width: 1330px) {
  .mainBlockImage {
    max-width: 350px;
    max-height: 330px;
    top: 60px;
  }
}
@media (max-width: 1175px) {
  .mainBlockImage {
    max-width: 300px;
  }
}
@media (max-width: 1100px) {
  .mainBlockImage {
    display: none;
  }
}
.mainBlockImage--img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/sofas/sofasMainPage__MainBlock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1100px) {
  .mainBlockImage--img {
    background-position: left;
  }
}
.mainBlockImage--img::before {
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.79) 0%, #ffffff 100%), url(../images/sofas/sofasMainPage__MainBlockBefore.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 697px;
  min-width: 280px;
  max-height: 618px;
  min-height: 77px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -580px;
  left: 0;
}
@media (max-width: 1420px) {
  .mainBlockImage--img::before {
    max-height: 496px;
    bottom: -449px;
  }
}
@media (max-width: 1330px) {
  .mainBlockImage--img::before {
    bottom: -314px;
    max-height: 320px;
  }
}
@media (max-width: 1175px) {
  .mainBlockImage--img::before {
    bottom: -244px;
    max-height: 273px;
  }
}
@media (max-width: 1100px) {
  .mainBlockImage--img::before {
    background-position: left;
    bottom: -300px;
    max-height: 306px;
    z-index: -1;
  }
}
@media (max-width: 400px) {
  .mainBlockImage--img::before {
    bottom: -265px;
  }
}
.mainBlockImageModile {
  display: none;
  max-width: 641px;
  min-width: 290px;
  max-height: 587px;
  min-height: 306px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1100px) {
  .mainBlockImageModile {
    display: grid;
  }
}
@media (max-width: 400px) {
  .mainBlockImageModile {
    width: 290px;
  }
}
.mainFeedBackWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  position: relative;
  width: 100%;
}
.mainFeedBackWrapper .feedBack {
  margin-top: 66px;
}
@media (max-width: 1100px) {
  .mainFeedBackWrapper .feedBack {
    margin: 0;
  }
}
.mainFeedBackAnchor {
  position: relative;
  width: 144px;
  height: 728px;
  border-right: 1px solid var(--Color__Decor);
}
@media (max-width: 1100px) {
  .mainFeedBackAnchor {
    display: none;
  }
}
.mainFeedBackAnchor::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 0;
  width: 1003px;
  height: 1px;
  background: linear-gradient(90deg, #b38d68 0%, rgba(179, 141, 104, 0) 100%);
}
.mainFeedBackAnchor::after {
  content: "";
  position: absolute;
  bottom: 223px;
  left: 0;
  width: 143px;
  height: 1px;
  background: linear-gradient(90deg, #b38d68 0%, rgba(179, 141, 104, 0) 100%);
}
.mainFeedBackAnchor--Content {
  letter-spacing: -0.03em;
  color: var(--Color__Black);
  position: absolute;
  top: 32%;
  /* left: 50%; */
  transform: translateY(-85%);
  rotate: -90deg;
  white-space: nowrap;
}
.mainFeedBackAnchor--Content::before {
  content: "";
  width: 54px;
  height: 2px;
  background-color: #2c5a54;
  position: absolute;
  bottom: 16px;
  left: -75px;
}
.main .infoBlock {
  background-color: var(--Color__BGQuestionBlock);
}
.main .infoBlockWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  padding-top: 134px;
  padding-bottom: 50px;
  position: relative;
}
@media (max-width: 1100px) {
  .main .infoBlockWrapper {
    gap: 45px;
    padding: 60px 0;
  }
}
.main .infoBlockWrapper::before {
  content: "";
  max-width: 487px;
  max-height: 1084px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 87px;
  right: 0;
  background-image: url(../images/decor/advantegesBeforeImg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1100px) {
  .main .infoBlockWrapper::before {
    display: none;
  }
}
.main .infoBlockWrapper::after {
  content: "";
  max-width: 1206.5px;
  max-height: 833.68px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 945px;
  left: 0;
  background-image: url(../images/decor/advantegesAfterImg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1100px) {
  .main .infoBlockWrapper::after {
    display: none;
  }
}
.main .infoBlockContent {
  width: 100%;
}
.main .infoBlockContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 39px;
  width: 100%;
}
@media (max-width: 1100px) {
  .main .infoBlockContentWrapper {
    flex-direction: column;
    gap: 30px;
  }
}
.main .infoBlockContent--Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  letter-spacing: 0.07em;
  color: var(--Color__White);
  max-width: 657px;
  width: 100%;
  position: relative;
}
@media (max-width: 1100px) {
  .main .infoBlockContent--Title {
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__TitleSectionModile);
    line-height: var(--LineHeight__TitleSectionModile);
    font-weight: 400;
    width: 101%;
  }
}
@media (max-width: 600px) {
  .main .infoBlockContent--Title {
    max-width: 450px;
  }
}
.main .infoBlockContent--Title::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--Color__Decor);
  position: absolute;
  top: 13px;
  right: -140px;
}
@media (max-width: 1100px) {
  .main .infoBlockContent--Title::before {
    width: 71px;
    bottom: 13px;
    top: auto;
    right: -8px;
  }
}
.main .infoBlockContent--SubTitle {
  letter-spacing: -0.03em;
  color: #d9d9d9;
  max-width: 717px;
  width: 100%;
  margin-top: 50px;
}
@media (max-width: 1100px) {
  .main .infoBlockContent--SubTitle {
    margin: 0;
    font-size: 17px;
    line-height: 26px;
  }
}
.main .infoBlock--BlockBoldTitle {
  width: 100%;
  position: relative;
}
.main .infoBlock--BlockBoldTitle.right1.infoBlock--BlockBoldTitle::before {
  content: "";
  top: 153px;
}
@media (max-width: 1100px) {
  .main .infoBlock--BlockBoldTitle.right1.infoBlock--BlockBoldTitle::before {
    top: 0;
  }
}
.main .infoBlock--BlockBoldTitle::before {
  content: "";
  max-width: 1700px;
  width: 100%;
  height: 0.3px;
  background-color: var(--Color__Decor);
  position: absolute;
  top: 172.2px;
  left: 0;
  z-index: 10;
}
@media (max-width: 1100px) {
  .main .infoBlock--BlockBoldTitle::before {
    top: 0;
  }
}
.main .infoBlock--BlockBoldTitle__Wrapper .right {
  color: rgba(255, 255, 255, 0.68);
  -webkit-text-stroke: 0;
  width: 100%;
  text-align: right;
}
.main .infoBlock--BlockBoldTitle__Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleBoldText);
  line-height: var(--LineHeight__TitleBoldText);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
  z-index: 20;
}
@media (max-width: 1100px) {
  .main .infoBlock--BlockBoldTitle__Title {
    display: none;
  }
}
.main .numbersBlockWrapper {
  width: 100%;
  padding: 98px 0;
}
@media (max-width: 1100px) {
  .main .numbersBlockWrapper {
    padding: 60px 0;
  }
}
.main .numbersBlockList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 1100px) {
  .main .numbersBlockList {
    flex-direction: column;
    gap: 19px;
  }
}
.main .numbersBlockItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .main .numbersBlockItem {
    gap: 10px;
  }
}
.main .numbersBlockItem--Title {
  font-family: "Raleway";
  font-size: var(--SizeText__NumbersTitle);
  line-height: var(--LineHeight__NumbersTitle);
  font-weight: 700;
}
@media (max-width: 1100px) {
  .main .numbersBlockItem--Title {
    font-size: var(--SizeText__NumbersTitleModile);
    line-height: var(--LineHeight__NumbersTitleModile);
  }
}
.main .numbersBlockItem--Content {
  font-family: "Montserrat";
  font-size: var(--SizeText__NumbersContent);
  line-height: var(--LineHeight__NumbersContent);
  font-weight: 400;
  letter-spacing: -0.03em;
}
@media (max-width: 1100px) {
  .main .numbersBlockItem--Content {
    font-size: var(--SizeText__NumbersContentModile);
    line-height: var(--LineHeight__NumbersContentModile);
  }
}
.main .numbersBlockItem--HR {
  width: 1px;
  height: 319px;
  background-color: #dadada;
}
@media (max-width: 1100px) {
  .main .numbersBlockItem--HR {
    width: 100%;
    height: 1px;
  }
}
.main .infoMaterials {
  background-image: url(../images/feedBackMaterials/feedBackMaterialsBD.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.main .infoMaterialsWrapper {
  width: 100%;
  padding: 71px 0;
}
@media (max-width: 1100px) {
  .main .infoMaterialsWrapper {
    padding: 40px 0;
  }
}
.main .infoMaterialsBlock {
  background: url(../images/feedBackMaterials/feedBackMaterialsWrapperBD.png) rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  backdrop-filter: blur(3.5px);
  padding: 100px 231px 146px;
  max-width: 1414px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
@media (max-width: 1100px) {
  .main .infoMaterialsBlock {
    padding: 46px 20px;
    gap: 20px;
  }
}
.main .infoMaterials--Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--Color__White);
  width: 100%;
  text-align: center;
}
@media (max-width: 1100px) {
  .main .infoMaterials--Title {
    font-size: var(--SizeText__TitleSectionModile);
    line-height: var(--LineHeight__TitleSectionModile);
  }
}
.main .infoMaterials--HR {
  width: 321px;
  height: 2px;
  background-color: var(--Color__Decor);
}
@media (max-width: 1100px) {
  .main .infoMaterials--HR {
    width: 148px;
  }
}
.main .infoMaterials--Content {
  letter-spacing: -0.03em;
  color: var(--Color__White);
  text-align: center;
}
@media (max-width: 1100px) {
  .main .infoMaterials--Content {
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.main .infoMaterials--Button {
  border-color: var(--Color__White);
  color: var(--Color__White);
}
.main .infoMaterials--Button:hover {
  background-color: var(--Color__White);
  color: var(--Color__Black);
}
@media (max-width: 1100px) {
  .main .infoMaterials--Button {
    padding: 9.5px 29px;
  }
}
.main .advantages {
  background-color: #1d2b38;
}
@media (max-width: 1100px) {
  .main .advantages {
    padding: 0;
  }
}
.main .advantagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 97px;
  padding-top: 100px;
  position: relative;
}
.main .advantagesWrapper::before {
  content: "";
  width: 132px;
  height: 302px;
  background-image: url(../images/decor/circleReview.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 52px;
  right: 0;
  z-index: 0;
}
@media (max-width: 1100px) {
  .main .advantagesWrapper::before {
    width: 78px;
    height: 149px;
    bottom: 0;
  }
}
@media (max-width: 1100px) {
  .main .advantagesWrapper {
    gap: 30px;
    padding: 0;
  }
}
.main .advantages--Title {
  max-width: 800px;
  width: 100%;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--Color__White);
  position: relative;
}
.main .advantages--Title::before {
  content: "";
  width: 274px;
  height: 2px;
  background-color: var(--Color__Decor);
  position: absolute;
  bottom: 33px;
  right: 0;
}
@media (max-width: 1100px) {
  .main .advantages--Title {
    max-width: 500px;
    font-size: var(--SizeText__TitleSectionModile);
    line-height: var(--LineHeight__TitleSectionModile);
  }
  .main .advantages--Title span {
    display: none;
  }
  .main .advantages--Title::before {
    width: 94px;
    bottom: 15px;
  }
}
.main .advantages--TitleWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 140px;
}
.main .advantages--TitleWrapper::before {
  content: "";
  max-width: 804px;
  width: 100%;
  height: 670px;
  background-image: url(../images/decor/advantagesBDLeft.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -79px;
  left: 0;
  z-index: 0;
}
.main .advantages--TitleWrapper::after {
  content: "";
  max-width: 804px;
  width: 100%;
  height: 100%;
  background-image: url(../images/decor/advantagesBDRight.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -132px;
  right: 0;
  z-index: 0;
}
@media (max-width: 1100px) {
  .main .advantages--TitleWrapper {
    margin: 0;
  }
  .main .advantages--TitleWrapper::after, .main .advantages--TitleWrapper::before {
    display: none;
  }
}
.main .advantages--TitleInner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 1100px) {
  .main .advantages--TitleInner {
    flex-direction: column;
    gap: 30px;
  }
}
.main .advantages--TitleList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 77px;
  z-index: 555;
}
@media (max-width: 1100px) {
  .main .advantages--TitleList {
    gap: 22px;
    margin: 0;
  }
}
.main .advantages--TitleItem {
  transition: all linear 0.4s;
  color: var(--Color__White);
}
.main .advantages--TitleItem:hover {
  color: var(--Color__Decor);
  transform: translateX(-25px);
}
.main .advantages--TitleItem__Title {
  line-height: 27px;
}
@media (max-width: 1100px) {
  .main .advantages--TitleItem__Title {
    font-size: 17px;
    line-height: 21px;
  }
}
.main .advantages--HR {
  width: 100%;
  height: 1px;
  background-color: var(--Color__Decor);
  z-index: 555;
}
.main .advantages--ContentWrapper {
  width: 100%;
}
.main .advantages--ContentInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1100px) {
  .main .advantages--ContentInner {
    flex-direction: column;
    gap: 50px;
  }
}
.main .advantages--LeftWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 81px;
  max-width: 707px;
  width: 100%;
}
@media (max-width: 1100px) {
  .main .advantages--LeftWrapper {
    gap: 30px;
  }
}
.main .advantages--Left__Title {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: var(--Color__White);
  margin-left: 20px;
}
@media (max-width: 1100px) {
  .main .advantages--Left__Title {
    font-size: 17px;
    line-height: 21px;
    margin: 0;
  }
}
.main .advantages--LeftLists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 77px;
  margin-left: 31px;
}
@media (max-width: 1100px) {
  .main .advantages--LeftLists {
    gap: 30px;
    margin-left: 40px;
  }
}
.main .advantages--LeftListNumber {
  counter-reset: LeftListNumber;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
@media (max-width: 1100px) {
  .main .advantages--LeftListNumber {
    gap: 11px;
  }
}
.main .advantages--LeftListContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
@media (max-width: 1100px) {
  .main .advantages--LeftListContent {
    gap: 11px;
  }
}
.main .advantages--LeftItemNumber {
  color: var(--Color__SubMainText);
  position: relative;
}
.main .advantages--LeftItemNumber::before {
  counter-increment: LeftListNumber;
  content: counters(LeftListNumber, "") ".";
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: var(--Color__White);
  position: absolute;
  top: 0;
  left: -35px;
}
@media (max-width: 1100px) {
  .main .advantages--LeftItemNumber::before {
    font-size: 17px;
    line-height: 21px;
  }
}
.main .advantages--LeftItemNumber__Title {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main .advantages--LeftItemNumber__Title {
    font-size: 14px;
    line-height: 17px;
  }
}
.main .advantages--LeftItemContent {
  color: var(--Color__SubMainText);
  position: relative;
}
.main .advantages--LeftItemContent::before {
  content: "";
  width: 33px;
  height: 33px;
  background-image: url(../images/decor/checkMark__marker.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: var(--Color__White);
  position: absolute;
  top: -5px;
  left: -49px;
}
@media (max-width: 1100px) {
  .main .advantages--LeftItemContent::before {
    font-size: 17px;
    line-height: 21px;
    width: 20px;
    height: 20px;
    left: -35px;
  }
}
.main .advantages--LeftItemContent__Title {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main .advantages--LeftItemContent__Title {
    font-size: 14px;
    line-height: 17px;
  }
}
.main .advantages--Right {
  background-color: rgba(22, 22, 22, 0.32);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(2px);
  height: 1103px;
}
@media (max-width: 1100px) {
  .main .advantages--Right {
    width: 100%;
    height: auto;
  }
}
.main .advantages--RightWrapper {
  max-width: 830px;
  width: 100%;
  padding: 161px 73px 52px 103px;
  z-index: 555;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
}
@media (max-width: 1100px) {
  .main .advantages--RightWrapper {
    padding: 40px 20px 30px;
    gap: 30px;
  }
}
.main .advantages--Right__Title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__SubTitleSection);
  line-height: var(--LineHeight__SubTitleSection);
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--Color__White);
}
.main .advantages--Right__Title span {
  font-family: "Montserrat";
}
@media (max-width: 1100px) {
  .main .advantages--Right__Title {
    font-size: 22px;
    line-height: 27px;
  }
}
.main .advantages--Right__Text {
  font-family: "Montserrat";
  font-size: var(--SizeText__SubMainText);
  line-height: 26px;
  font-weight: 400;
  color: var(--Color__SubMainText);
}
@media (max-width: 1100px) {
  .main .advantages--Right__Text {
    font-size: 16px;
    line-height: 23px;
  }
}

/*# sourceMappingURL=mainPage.css.map */
