.mainTitle {
  height: 768px;
  width: 100%;
  background: url(../images/materials/backTitle.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.mainTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 81px;
  padding: 100px 0px 0px 0px;
}
@media (max-width: 1150px) {
  .mainTitleWrapper {
    gap: 40px;
  }
}
.mainTitle__title {
  color: var(--Color__White);
  letter-spacing: 0.055em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 75px;
}
@media (max-width: 1150px) {
  .mainTitle__title {
    gap: 40px;
  }
}
.mainTitle__title--title {
  max-width: 1146px;
  word-wrap: normal;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__OtherPageMailBlockTitle);
  line-height: var(--LineHeight__OtherPageMailBlockTitle);
  font-weight: 400;
}
@media (max-width: 1150px) {
  .mainTitle__title--title {
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__TitleMainScreenModile);
    line-height: var(--LineHeight__TitleMainScreenModile);
    font-weight: 400;
  }
}
.mainTitle__title--text {
  max-width: 606px;
  letter-spacing: -0.03em;
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__MainText);
  font-weight: 400;
}
.mainTitle__title--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 48px;
  max-width: 386px;
  color: var(--Color__White);
  background-color: var(--Color__Active);
}
.mainTitle__title--button:hover {
  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.25);
}
.main .restoration {
  width: 100%;
  background-color: var(--Color__BGQuestionBlock);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 43px 0px 102px;
}
.main .restorationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 96px;
}
@media (max-width: 1150px) {
  .main .restorationWrapper {
    gap: 50px;
  }
}
.main .restorationInfo {
  width: 100%;
  position: relative;
}
.main .restorationInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 120px;
  width: 100%;
  position: relative;
}
@media (max-width: 1150px) {
  .main .restorationInfoWrapper {
    gap: 80px;
  }
}
.main .restorationInfo::before {
  content: "";
  width: 788px;
  height: 834px;
  position: absolute;
  top: 0px;
  right: 0;
  background-image: url(../images/materials/restoration/decor1.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .restorationInfo::after {
  content: "";
  width: 482px;
  height: 1084px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../images/materials/restoration/decor2.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1150px) {
  .main .restorationInfo::after {
    display: none;
  }
  .main .restorationInfo::before {
    display: none;
  }
}
.main .restoration .upholstery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
  width: 100%;
}
@media (max-width: 1150px) {
  .main .restoration .upholstery {
    gap: 40px;
  }
}
.main .restoration .upholstery--title {
  color: var(--Color__White);
  letter-spacing: 0.07em;
  width: 100%;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
}
@media (max-width: 1150px) {
  .main .restoration .upholstery--title {
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__SubTitleSection);
    line-height: var(--LineHeight__SubTitleSection);
    font-weight: 400;
  }
}
.main .restoration .upholsteryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  width: 100%;
}
.main .restoration .upholsteryList {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px 93px;
  position: relative;
  width: 100%;
}
.main .restoration .upholsteryList::before {
  content: "";
  width: 302px;
  height: 302px;
  background-color: var(--Color__Decor);
  border-radius: 50%;
  position: absolute;
  bottom: -114px;
  left: -124px;
  z-index: 1;
}
@media (max-width: 1150px) {
  .main .restoration .upholsteryList::before {
    display: none;
  }
}
.main .restoration .upholsteryItem--img {
  max-width: 409px;
  width: 100%;
  height: 221px;
  position: relative;
  z-index: 999;
}
.main .restoration .upholsteryItem--imgContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  text-align: center;
  color: var(--Color__White);
  text-transform: uppercase;
  font-family: "RasfirePersonal";
  font-size: 25px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: 0.07em;
  transition: 0.5s all ease;
}
.main .restoration .upholsteryItem--img:hover .upholsteryItem--back {
  opacity: 1;
}
.main .restoration .upholsteryItem--img:hover .upholsteryItem--imgContent {
  opacity: 1;
}
.main .restoration .upholsteryItem--back {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84));
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
  opacity: 0;
  transition: 0.5s all ease;
}
.main .restoration .upholstery--button {
  padding: 14px 39px;
}
.main .restoration .upholstery--button:hover {
  background: var(--Color__Active);
  color: var(--Color__White);
}
.main .restoration .filler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
  width: 100%;
}
@media (max-width: 1150px) {
  .main .restoration .filler {
    gap: 40px;
  }
}
.main .restoration .filler--title {
  color: var(--Color__White);
  letter-spacing: 0.07em;
  width: 100%;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
}
@media (max-width: 1150px) {
  .main .restoration .filler--title {
    font-family: "RasfirePersonal";
    font-size: var(--SizeText__SubTitleSection);
    line-height: var(--LineHeight__TitleSection);
    font-weight: 400;
  }
}
.main .restoration .fillerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  width: 100%;
}
.main .restoration .fillerList {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px 93px;
  width: 100%;
}
.main .restoration .fillerItem--img {
  max-width: 409px;
  width: 100%;
  height: 221px;
  position: relative;
  z-index: 999;
}
.main .restoration .fillerItem--imgContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  text-align: center;
  color: var(--Color__White);
  text-transform: uppercase;
  font-family: "RasfirePersonal";
  font-size: 25px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: 0.07em;
  transition: 0.5s all ease;
}
.main .restoration .fillerItem--img:hover .fillerItem--back {
  opacity: 1;
}
.main .restoration .fillerItem--img:hover .fillerItem--imgContent {
  opacity: 1;
}
.main .restoration .fillerItem--back {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84));
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.11);
  opacity: 0;
  transition: 0.5s all ease;
}
.main .restoration .filler--button {
  padding: 14px 39px;
}
.main .restoration .filler--button:hover {
  background: var(--Color__Active);
  color: var(--Color__White);
}
.main .designer {
  width: 100%;
}
.main .designerWrapper {
  padding: 139px 0px 167px;
}
.main .designerInfo {
  background: var(--Color__White);
  box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.1);
  padding: 110px 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
@media (max-width: 1150px) {
  .main .designerInfo {
    padding: 110px 20px;
  }
}
.main .designerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 737px;
}
.main .designer--title {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__SubTitleSection);
  line-height: var(--LineHeight__SubTitleSection);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: var(--Color__Black);
}
.main .designer--title span {
  color: var(--Color__LineBeige);
}
.main .designer--text {
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__ExamplesWorkItemSubText);
  font-weight: 400;
  color: #3e3e3e;
  text-align: center;
  max-width: 737px;
}
.main .designerNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.main .designerNumbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.main .designerNumbers--text {
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__Telephone);
  font-weight: 700;
}
@media (max-width: 1150px) {
  .main .designerNumbers--text {
    font-family: "Montserrat";
    font-size: 15px;
    line-height: var(--LineHeight__TelephoneModile);
    font-weight: 700;
  }
}
@media (max-width: 1150px) {
  .main .designerNumbers {
    gap: 0px;
  }
}
.main .designer--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 48px;
  max-width: 386px;
  color: var(--Color__White);
  background-color: var(--Color__Active);
}
.main .designer--button:hover {
  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.25);
}
@media (max-width: 1150px) {
  .main .designer--button {
    max-width: 272px;
  }
}

/*# sourceMappingURL=materialsPage.css.map */
