.mainTitle {
  height: 722px;
  width: 100%;
  backdrop-filter: blur(9px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 1100px) {
  .mainTitle {
    height: 510px;
  }
}
.mainTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 81px;
  padding-top: 210px;
}
@media (max-width: 1100px) {
  .mainTitleWrapper {
    padding-top: 100px;
  }
}
.mainTitleInfo {
  color: var(--Color__White);
  letter-spacing: 0.055em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 65px;
  width: 100%;
  z-index: 999;
}
@media (max-width: 1100px) {
  .mainTitleInfo {
    gap: 30px;
  }
}
.mainTitleInfo--List {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  max-width: 920px;
  margin-left: 20px;
  list-style: disc;
}
.mainTitleInfo--Item {
  color: var(--Color__Decor);
}
.mainTitleInfo--ItemText {
  color: var(--Color__White);
  letter-spacing: -0.03em;
}
@media (max-width: 1100px) {
  .mainTitleInfo--ItemText {
    font-family: "Montserrat";
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
    font-weight: 400;
  }
}
.mainTitleInfo--title {
  letter-spacing: 0.055em;
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__OtherPageMailBlockTitle);
  line-height: var(--LineHeight__OtherPageMailBlockTitle);
  font-weight: 400;
}
@media (max-width: 1100px) {
  .mainTitleInfo--title {
    font-size: var(--SizeText__TitleMainScreenModile);
    line-height: var(--LineHeight__TitleMainScreenModile);
  }
}
.mainTitleHRLeft, .mainTitleHRRight {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--Color__Decor);
  z-index: 10;
}
.mainTitleHRLeft {
  left: 0;
  top: 257px;
}
@media (max-width: 1100px) {
  .mainTitleHRLeft {
    top: 115.5px;
  }
}
.mainTitleHRRight {
  right: 0;
  top: 255px;
}
@media (max-width: 1100px) {
  .mainTitleHRRight {
    top: 115.5px;
  }
}
@media (max-width: 431px) {
  .mainTitleHRRight {
    top: 151.5px;
  }
}
.mainHR {
  width: 100%;
  height: 1px;
  background-color: var(--Color__Decor);
  margin-bottom: 52px;
}
@media (max-width: 1100px) {
  .mainHR {
    margin-bottom: 25px;
  }
}
.main .breadCrumbsWrapper {
  padding: 53px 0 43px;
}
.main .breadCrumbs--text {
  color: rgba(0, 0, 0, 0.4);
}
.main .breadCrumbs--text--active {
  color: var(--Color__Black);
}
.main .InfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 74px;
  padding: 134px 0px 187px;
}
@media (max-width: 1100px) {
  .main .InfoWrapper {
    padding: 0 0 90px;
    flex-direction: column;
    gap: 60px;
  }
}
.main .InfoLeft {
  max-width: 702px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1100px) {
  .main .InfoLeft {
    max-width: none;
    gap: 45px;
  }
}
.main .InfoLeft--text {
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__MainText);
  font-weight: 400;
  letter-spacing: -0.03em;
}
@media (max-width: 1100px) {
  .main .InfoLeft--text {
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.main .InfoLeftInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
}
@media (max-width: 1100px) {
  .main .InfoLeftInfo {
    gap: 20px;
  }
}
.main .InfoLeftTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}
@media (max-width: 1100px) {
  .main .InfoLeftTitle {
    gap: 5px;
  }
}
.main .InfoLeftTitle--title2 {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__TitleSection);
  line-height: var(--LineHeight__TitleSection);
  font-weight: 400;
}
.main .InfoLeftTitle--title2 span {
  font-family: "Montserrat";
}
@media (max-width: 1100px) {
  .main .InfoLeftTitle--title2 {
    font-size: 36px;
    line-height: normal;
  }
}
.main .InfoLeftTitle--title3 {
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__SubTitleSection);
  line-height: var(--LineHeight__SubTitleSection);
  font-weight: 400;
}
.main .InfoLeftTitle--title3 span {
  font-family: "Montserrat";
}
@media (max-width: 1100px) {
  .main .InfoLeftTitle--title3 {
    font-size: 21px;
    line-height: normal;
  }
}
.main .InfoLeftLists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
  margin-left: 50px;
}
@media (max-width: 1100px) {
  .main .InfoLeftLists {
    gap: 30px;
    margin-left: 40px;
  }
}
.main .InfoLeftListNumber {
  counter-reset: LeftListNumber;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
@media (max-width: 1100px) {
  .main .InfoLeftListNumber {
    gap: 11px;
  }
}
.main .InfoLeftListContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
@media (max-width: 1100px) {
  .main .InfoLeftListContent {
    gap: 11px;
  }
}
.main .InfoLeftItemNumber {
  color: var(--Color__SubMainText);
  position: relative;
}
.main .InfoLeftItemNumber::before {
  counter-increment: LeftListNumber;
  content: counters(LeftListNumber, "") ".";
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: var(--Color__Black);
  position: absolute;
  top: 0;
  left: -35px;
}
@media (max-width: 1100px) {
  .main .InfoLeftItemNumber::before {
    font-size: 17px;
    line-height: 21px;
  }
}
.main .InfoLeftItemNumber__Title {
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main .InfoLeftItemNumber__Title {
    font-size: 14px;
    line-height: 17px;
  }
}
.main .InfoLeftItemContent {
  color: var(--Color__SubMainText);
  position: relative;
}
.main .InfoLeftItemContent::before {
  content: "";
  width: 33px;
  height: 33px;
  background-image: url(../images/services/okay.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: var(--Color__Black);
  position: absolute;
  top: 5px;
  left: -49px;
}
@media (max-width: 1100px) {
  .main .InfoLeftItemContent::before {
    font-size: 17px;
    line-height: 21px;
    width: 20px;
    height: 20px;
    left: -35px;
  }
}
.main .InfoLeftItemContent__Title {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 589px;
}
@media (max-width: 1100px) {
  .main .InfoLeftItemContent__Title {
    font-size: 14px;
    line-height: 17px;
  }
}
.main .InfoRight {
  max-width: 697px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 52px;
}
@media (max-width: 1100px) {
  .main .InfoRight {
    max-width: none;
  }
}
@media (max-width: 1100px) {
  .main .InfoRight {
    gap: 40px;
  }
}
.main .InfoRightTable {
  width: 100%;
}
.main .InfoRightTable--table {
  width: 100%;
}
.main .InfoRightTable--table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
@media (max-width: 1100px) {
  .main .InfoRightTable--table tbody {
    gap: 5px;
  }
}
.main .InfoRightTable--tr {
  width: 100%;
  background-color: rgba(192, 192, 192, 0.13);
  padding: 32px 30px;
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1100px) {
  .main .InfoRightTable--tr {
    font-size: 14px;
    line-height: normal;
    padding: 15px;
    gap: 5px;
  }
}
.main .InfoRightTable--tr__Header {
  background: var(--Color__BGQuestionBlock);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 33px 30px 24px;
  color: var(--Color__White);
  font-family: "RasfirePersonal";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__MainText);
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main .InfoRightTable--tr__Header {
    padding: 15px;
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.main .InfoRightTable--name {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.main .InfoRightTable--name__first {
  max-width: 380px;
  width: 100%;
}
.main .InfoRightTable--price {
  max-width: 250px;
  width: 100%;
  text-align: left;
}
@media (max-width: 1100px) {
  .main .InfoRightTable--price {
    max-width: 100px;
  }
}
.main .InfoRightTable--price__first {
  max-width: 272px;
  width: 100%;
  position: relative;
  padding-left: 20px;
}
@media (max-width: 1100px) {
  .main .InfoRightTable--price__first {
    max-width: 120px;
  }
}
.main .InfoRightTable--price__first::before {
  content: "";
  width: 1px;
  height: 57px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
@media (max-width: 1100px) {
  .main .InfoRightTable--price__first::before {
    height: 35px;
  }
}
.main .InfoRight--text {
  max-width: 697px;
  width: 100%;
  word-wrap: break-word;
  font-family: "Montserrat";
  font-size: var(--SizeText__MainText);
  line-height: var(--LineHeight__ExamplesWorkItemSubText);
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main .InfoRight--text {
    max-width: none;
    font-size: var(--SizeText__MainTextModile);
    line-height: var(--LineHeight__MainTextModile);
  }
}
.main .feedBack {
  margin: 0 auto;
  max-width: 1413px;
}
.main .feedBackWrapper {
  max-width: 905px;
  margin: 0 auto;
  text-align: center;
}
.main .feedBack--Title {
  text-align: center;
}
.main .feedBackList {
  width: 100%;
  justify-content: center;
}
@media (max-width: 1100px) {
  .main .feedBack {
    margin-bottom: 50px;
  }
}
.main .examplesWork {
  position: relative;
}
.main .examplesWork::before {
  content: "";
  max-width: 487px;
  max-height: 1084px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 87px;
  right: 0;
  background-image: url(../images/decor/advantegesBeforeImg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .examplesWork::after {
  content: "";
  max-width: 610px;
  max-height: 833.68px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../images/decor/advantegesAfterImg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1100px) {
  .main .examplesWork::before, .main .examplesWork::after {
    display: none;
  }
}
.main .examplesWorkWrapper {
  padding-top: 134px;
}
@media (max-width: 1100px) {
  .main .examplesWorkWrapper {
    padding-top: 50px;
  }
}

/*# sourceMappingURL=servicesPage.css.map */
